@model CorParques.Negocio.Entidades.CodigoFechaAbierta

<div>
    <!--<h4>CodigoFechaAbierta</h4> -->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodSapPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodSapPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodBarrasBoletaControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodBarrasBoletaControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Redencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Redencion)
        </dd>
        <!--
        <dt>
            @Html.DisplayNameFor(model => model.IdSolicitudBoletaControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSolicitudBoletaControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRedencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRedencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstado)
        </dd>
        -->
        <!--
                <dt>
                    @Html.DisplayNameFor(model => model.codigoBarras)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.codigoBarras)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.datoDesacarga)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.datoDesacarga)
                </dd>
        -->
    </dl>
</div>
<!--<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPedidoBoletaControl }) |
    @Html.ActionLink("Back to List", "Index")
</p>
-->
