@model CorParques.Negocio.Entidades.PagoFacturaMediosPago

@{
    ViewBag.Title = "Deposito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="frmBrinks">

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>* Valor</label>
            @Html.TextBoxFor(m => m.Valor, new { @class = "form-control required Moneda", maxlength = 10 })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>* Código de referencia</label>
            @Html.TextBoxFor(m => m.NumReferencia, new { @class = "form-control required", maxlength = 50, @onkeypress = "return EsAlfaNumerico(this);" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <input type="button" class="right btn btn-success" value="Guardar" id="btnAceptarBrinks" />
            <input type="button" class="right btn btn-danger" value="Cancelar" id="btnCancelarBrinks" />
        </div>
    </div>
</form>

@section Scripts{    
    <script src="~/Vendors/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
    <script>

        @if (ViewBag.cantidad != null && (int)ViewBag.cantidad == 0)
        {
             @Html.Raw("MostrarMensajeRedireccion('Importante', 'No hay suficiente dinero en caja', 'Home/Index', 'warning');");
        }
        else
        {
            @Html.Raw("var _cantidad = " + (int)ViewBag.cantidad);

            if (ViewBag.Apertura != null)
            {
                if (!(bool)ViewBag.Apertura)
                {
                    @Html.Raw("MostrarMensajeRedireccion('Importante', 'No existe una apertura previa.', 'Home/Index', 'warning');");

                }
            }
        }
    </script>
    <script src="~/Scripts/Brinks.js"></script>
}
