@model CorParques.Negocio.Entidades.Apertura

@if (Model == null || Model.AperturaElemento == null || Model.AperturaElemento.Count() == 0)
{
    <label>
        No hay elementos para este punto
    </label>
}

@if (Model != null && Model.AperturaElemento != null && Model.AperturaElemento.Count() > 0)
{
    <label> Elementos</label>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table class="table jambo_table">
                    <tr class="headings">
                        <th>Tipo</th>
                        <th>Código de barras</th>
                        <th>Observaciones</th>
                        @if (Model.BitacoraElemento)
                        {
                            <th>Taquillero</th>
                        }
                        <th></th>
                    </tr>
                    <tbody id="bodyElementosApertura">
                        @foreach (var item in Model.AperturaElemento)
                        {

                            <tr>
                                <td>@item.Elemento.Nombre</td>
                                <td>@item.CodigoBarras</td>
                                <td>@item.Observacion</td>
                                @if (Model.BitacoraElemento)
                                {
                                    <td><input type="checkbox" class="ElementosTaquillero" checked="@item.ValidTaquilla" readonly /> </td>
                                }
                                <td><input type="checkbox" class="Elementos" data-id="@item.Id|@Model.Id" /> </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

