@model CorParques.Negocio.Entidades.DetalleInventario

@{
    ViewBag.Title = "Apertura Reabastecimiento";
    //ViewBag.SubTitle = "Reabastecimiento de inventario al supervisor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var TipoBrazalete = (IEnumerable<CorParques.Negocio.Entidades.TipoBrazalete>)ViewBag.tipoBrazalete;
    var listSupervisor = (IEnumerable<CorParques.Negocio.Entidades.TipoGeneral>)ViewBag.supervisor;
    var puntosDisponibles = (IEnumerable<CorParques.Negocio.Entidades.Puntos>)ViewBag.listaPunto;
}

<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

<form id="frmInventarioOperativo">
    <div class="x_panel" style="padding: 40px;">

        <div class="form-group">
            <div class="row">                
                <div class="item col-md-5 col-sm-5 col-xs-12">
                    <select id="IdSupervisor"  name="IdSupervisor" class="form-control required setSelect2" >
                        <option value="">* Supervisor</option>
                        @if (listSupervisor != null && listSupervisor.Count() > 0)
                        {
                            foreach (var item in listSupervisor)
                            {
                                <option value="@item.Id">@item.Nombre</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <br />
        
        <div class="row">
            <label class="control-label">Asignación Puntos</label>
        </div>

        <div class="row">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label class="control-label">* Puntos <a href="javascript:void(0)" class="fa fa-question-circle" data-toggle="popover" title="Digite uno de estos grupos" data-content="@string.Join("<br/>",puntosDisponibles.Select(x => x.Nombre).ToArray())" data-trigger="focus"></a></label>
            </label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input id="puntosAutocomplete" type="text" class="form-control" />
                <input id="tagsPuntos" type="text" class="tags form-control" readonly="readonly" />
                <input type="hidden" name="hdPuntos" id="hdPuntos" value="" />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"></div>

        </div>
        <br /><br />
        <div class="row">
            <label class="control-label">Asignación Boleteria</label>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                @Html.Partial("_TipoBrazalete", TipoBrazalete)
            </div>
            <div class="col-md-2"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-9  col-sm-9 col-xs-12">
                @Html.TextAreaFor(m => m.Observacion, new  {@class = "form-control", placeholder = "Observaciones", maxlength=500})
            </div>
            <div class="col-md-3"></div>            
        </div>
        <br />
        <div class="row">
            <div class="col-md-9" style="text-align:right;">
                <input type="button" class="right btn btn-success" value="Guardar" id="btnAceptarAlistamiento" />
                <input type="button" class="right btn btn-danger" value="Cancelar" id="btnCancelarAlistamiento" />
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

</form>
@section Scripts{ 

<script src="~/Vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/Vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="~/Vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery-ui.min.autComp.js"></script>
<script src="~/Vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<script src="~/Vendors/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
<script src="~/Scripts/select2.min.js"></script> 
<script>
    var urlaction = '@Url.Action("GuardarInformacionInventario", "Apertura")';
</script>    
      
<script src="~/Scripts/EntregaInventarioReabastecimiento.js"></script>

<script>
    $(document).ready(function () {
        var dataGrupos=@Html.Raw(Json.Encode(puntosDisponibles.Select(x => new { label = x.Nombre, value = x.Id }).ToArray()));     
        
        InitPartialCreate(dataGrupos);
    });
</script>     
   

}