@model IEnumerable<CorParques.Negocio.Entidades.ReporteNotificaciones>

<div class="row" id="div_tabla">
    <table id="datatable-responsive" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    Remitente
                </th>
                <th>
                    Asunto
                </th>
                <th>
                    Contenido
                </th>
                <th>
                    Receptor
                </th>
                <th>
                    Fecha Recepción
                </th>                
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remitente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asunto)
                        </td>
                        <td>
                            @Html.TextAreaFor(modelItem => item.Contenido, new {@class="form-control", @readonly=true, rows = "3" })                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receptor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaRecepcion)
                        </td>                       
                    </tr>
                }
            }
        </tbody>
    </table>
</div>