@model CorParques.Negocio.Entidades.ConsumoDeEmpleados

@{
    ViewBag.Title = "_Details";
}

<h2>_Details</h2>

<div>
    <h4>ConsumoDeEmpleados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo_SAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_SAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Punto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Punto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_factura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Área)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Área)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
