@model CorParques.Negocio.Entidades.ReservaEspacios

@{
    ViewBag.Title = "Crear reserva de espacio";
    ViewBag.SubTitle = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<div class="x_content" id="div_principal">
    <form id="frm_CrearReserva">
        <div class="form-horizontal form-label-left">
            @Html.HiddenFor(m => m.IdReservaEspacios)
            <div class="row">
                <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="IdCategoriaAtencion">
                        Fecha Reserva<span>*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.FechaReserva, new { @class = "form-control col-md-7 col-xs-12 required calendarioMinimoHoy", maxlength = 10 })
                    </div>
                </div>
                <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="codigosappedido">
                        Número Pedido<span>*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12" id="container_codigosap">
                        @Html.TextBoxFor(model => model.CodigoSapPedido, new { @class = "form-control col-md-7 col-xs-12 required numerico", maxlength = 50 })
                    </div>
                </div>
            </div>
            <div id="div_campos" style="display:none;">
                <div class="row">
                    <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="IdTipoPaciente">
                            Hora Inicial<span>*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class='input-group date dateTime'>
                                @Html.TextBoxFor(model => model.HoraInicio, new { @class = "form-control required", placeholder = "HH:MM", maxlength = "8" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="IdTipoPaciente">
                            Hora Final<span>*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class='input-group date dateTime'>
                                @Html.TextBoxFor(model => model.HoraFin, new { @class = "form-control required", placeholder = "HH:MM", maxlength = "8" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Triage">
                            Tipo Espacio<span>*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(model => model.IdTipoEspacio, new SelectList(Model.ListaTipoEspacio, "Id", "Nombre"), "Seleccione...", new { @class = "form-control required" })
                        </div>
                    </div>
                    <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Triage">
                            Espacio<span>*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(model => model.IdEspacio, new SelectList(Model.ListaEspacios, "Id", "Nombre"), "Seleccione...", new { @class = "form-control required" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="codigosappedido">
                            Nombre Cliente <span>*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.NombrePersona, new { @class = "form-control col-md-7 col-xs-12 required", maxlength = 100 })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                        <div id="DetallePedido" class="detallepedidoreserva">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="TipoReserva">
                        @foreach (var TipoReserva in Model.ListaTipoReserva)
                        {
                            <div class="col-md-2" id="div_Exclusividad">

                                <div style="background-color:@TipoReserva.Color" class="redondo" id="IdTipoReserva_@TipoReserva.IdTipoReserva" name="IdTipoReserva" data-id="@TipoReserva.IdTipoReserva">
                                </div>
                                <div class="font_bold">
                                    @TipoReserva.Nombre
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="item form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-1 col-sm-2 col-xs-2" for="Causa">
                            Observaciones
                        </label>
                        <div class="col-md-1"></div>
                        <div class="col-md-10 col-sm-12 col-xs-12">
                            @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control col-md-7 col-xs-12", maxlength = 500, rows = "3", @style = "resize:none;" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="div_botones" style="text-align:right;display:none">
            <a href="javascript:void(0)" id="btnGuardar" class="right btn btn-success">Guardar</a>
            <a href="javascript:void(0)" id="btnCancelar" class="right btn btn-danger">Cancelar</a>
        </div>
        <input type="hidden" id="hdf_TienePedido" value="0" />
        @Html.HiddenFor(model => model.IdTipoReserva)
    </form>
</div>
@section scripts{
    <script src="~/Vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Scripts/ReservaEspacios.js"></script>
    <script>Inicializar();</script>

}