@model CorParques.Negocio.Entidades.Puntos

<link href="~/Vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
<link href="~/Vendors/switchery/dist/switchery.min.css" rel="stylesheet">

<form id="frmCreate">
    <div class="form-horizontal form-label-left">
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    Nombre <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control col-md-7 col-xs-12 required", placeholder = "Digite el nombre para la atracción", maxlength = "150" })
                </div>
            </div>
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    Codigo <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CodigoPunto, new { @class = "form-control col-md-7 col-xs-12 required", placeholder = "Digite el codigo de la atracción", maxlength = "50" })
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    Hora Inicio <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class='input-group date dateTime'>
                        @Html.TextBoxFor(model => model.HoraInicio, new { @class = "form-control required rango", placeholder = "HH:MM", maxlength = "8", @data_valor = "minTime", @data_comparar = "HoraFin", data_mensaje = "La hora de inicio debe ser menor que la hora final" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    Hora Fin <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class='input-group date dateTime'>
                        @Html.TextBoxFor(model => model.HoraFin, new { @class = "form-control required rango", placeholder = "HH:MM", maxlength = "8", @data_valor = "maxTime", @data_comparar = "HoraInicio", data_mensaje = "La hora final debe ser mayor que la hora de inicio" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            
                <label class="item form-group col-md-2 col-sm-2 col-xs-12">
                    Aplicar a todos
                </label>
            
            
                <div >
                    @Html.CheckBoxFor(model => model.ActualizaHoraTipopunto, new { @class = "required" })
                </div>
                </div>
            
        <div class="row">
            
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                    Imagen <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div id="dropzoneElement" class="dropzone"></div>
                    @Html.HiddenFor(model => model.Imagen)
                </div>
            </div>
            
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    Descripción <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control col-md-7 col-xs-12 required", placeholder = "Digite una descripción para la atracción", @rows = "5", maxlength = "1000" })
                </div>
            </div>

        </div>
        <div class="row">
            
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    Codigo Sap <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CodigoSap, new { @class = "form-control col-md-7 col-xs-12", @readonly = true, maxlength = "50" })
                </div>
            </div>
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    Valor <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Valor, new { @class = "form-control col-md-7 col-xs-12 required numerico", @readonly = true, maxlength = "9" })
                </div>
            </div>

        </div>

        <div class="row">

            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    Cordenada X <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CordenadaX, new { @class = "form-control col-md-7 col-xs-12 required numerico", maxlength = "9"  })
                </div>
            </div>

            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    Cordenada Y <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CordenadaY, new { @class = "form-control col-md-7 col-xs-12 required numerico", maxlength = "9" })
                </div>
            </div>

        </div>

        <div class="row">
                        
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                    Estado <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.EstadoId, new SelectList(ViewBag.Estados, "Id", "Nombre"), "Seleccione...", new { @class = "form-control required" })
                </div>
            </div>
            <div class="item form-group col-md-6 col-sm-6 col-xs-12" style="display:none">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                    Por que se cerro la atraccion?
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextAreaFor(model => model.DescripcionCierre, new { @class = "form-control", maxlength = "1000" })
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CantidadCupos">
                    Cantidad cupos 
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CantidadCupos, new { @class = "form-control col-md-7 col-xs-12 numerico ValorCero", maxlength = "9" })
                </div>
            </div>
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CantidadCupos">
                    Minutos turno 
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.IntervaloTurno, new { @class = "form-control col-md-7 col-xs-12 numerico ValorCero", maxlength = "9" })
                </div>
            </div>
        <div class="row">

            @Html.HiddenFor(model => model.MontoRecaudo)            

        </div>
    </div>
</form>
<script src="~/Vendors/dropzone/dist/min/dropzone.min.js"></script>
<script src="~/Vendors/switchery/dist/switchery.min.js"></script>
<script>
    $(function () {
        setFileLoad(true);
        setEventStatus();
        MostrarMotivoCierreEdicion();

        $(".ValorCero").keyup(function () {
            var _val = $(this).val();
            if ($.trim(_val).length == 1 && _val == "0") {
                $(this).val("");
            }
        });
    });
</script>