@model CorParques.Negocio.Entidades.UsuarioVisitanteViewModel


@{
    var listaTipoDocumento = ViewBag.lista as IEnumerable<CorParques.Negocio.Entidades.TipoGeneral>;
    var ComplejidadCortesia = ViewBag.ComplejidadCortesia as IEnumerable<CorParques.Negocio.Entidades.ComplejidadCortesia>;
    var PlazoCortesia = ViewBag.PlazoCortesia as IEnumerable<CorParques.Negocio.Entidades.PlazoCortesia>;
    var TipoRedencionCortesia = ViewBag.TipoRedencionCortesia as IEnumerable<CorParques.Negocio.Entidades.TipoRedencionCortesia>;
    var ListProd = (IEnumerable<CorParques.Negocio.Entidades.Producto>)ViewBag.ListaTodosProductosSAP;
}
<link href="~/Vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
<style>
    .tabledetalleprod .dataTables_filter {
        width: 50%;
         float: none; 
        text-align: right;
        margin-left: 180px;
    }
</style>

<form>
    <div class="form-horizontal form-label-left">
        @Html.HiddenFor(m => m.Archivo)
        @Html.HiddenFor(m => m.IdTipoCortesia)
        <div class="item form-group col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="TipoDocumento">
                Tipo Documento
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select id="TipoDocumento" class="form-control required setSelect2" required name="TipoDocumento" asp-for="TipoDocumento">
                    @foreach (var item in ViewBag.lista)
                    {

                        <option value="@item.Nombre" data-id="@item.Id">@item.Nombre </option>
                    }
                </select>
            </div>
        </div>

        <div class="item form-group col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="NumeroDocumento">
                Numero Documento
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.NumeroDocumento, new { @class = "form-control col-md-7 col-xs-12 required ", maxlength = 50, id = "NumeroDocumento", onkeypress = "return validarnumeros(event);" })
            </div>
        </div>
        <div class="item form-group col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Nombres">
                Nombres
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Nombres, new { @class = "form-control col-md-7 col-xs-12 required", maxlength = 250, id = "Nombres" })
            </div>
        </div>
        <div class="item form-group col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Apellidos">
                Apellidos
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Apellidos, new { @class = "form-control col-md-7 col-xs-12 required", maxlength = 250, id = "Apellidos" })
            </div>
        </div>
        <div class="item form-group col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Correo">
                Correo
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Correo, new { @class = "form-control col-md-7 col-xs-12 email required", maxlength = 250, id = "Correo" })
            </div>
        </div>
        <div class="item form-group col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Telefono">
                Telefono
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control col-md-7 col-xs-12 required", maxlength = 50, id = "Telefono" })
            </div>
        </div>
        <div class="item form-group col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="NumeroTicket">
                Numero Ticket
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.NumeroTicket, new { @class = "form-control col-md-7 col-xs-12", maxlength = 250, id = "NumeroTicket" })
            </div>
        </div>
        <div class="item form-group col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CantidadCortesias">
                Cantidad Cortesias
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control col-md-7 col-xs-12 required numerico ", maxlength = 100, id = "Cantidad", @readonly = "true" })
            </div>
        </div>
        <div class="item form-group col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="IdPlazo">
                Plazo
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select id="IdPlazo" class="form-control required setSelect2" required name="IdPlazo" asp-for="IdPlazo">
                    <option value=""> *Seleccione...</option>
                    @if (ViewBag.PlazoCortesia != null)
                    {
                        foreach (var item in ViewBag.PlazoCortesia)
                        {

                            <option value="@item.Id" data-id="@item.Id">@item.Nombre </option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="item form-group col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="IdComplejidad">
                Complejidad
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select id="IdComplejidad" class="form-control required setSelect2" required name="IdComplejidad" asp-for="IdComplejidad">
                    <option value=""> *Seleccione...</option>
                    @if (ViewBag.ComplejidadCortesia != null)
                    {


                        foreach (var item in ViewBag.ComplejidadCortesia)
                        {

                            <option value="@item.Id" data-id="@item.Id">@item.Nombre </option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="item form-group col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="IdRedencion">
                Redención
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select id="IdRedencion" class="form-control required setSelect2" required name="IdRedencion" asp-for="IdRedencion">
                    <option value=""> *Seleccione...</option>
                    @if (ViewBag.TipoRedencionCortesia != null)
                    {
                        foreach (var item in ViewBag.TipoRedencionCortesia)
                        {

                            <option value="@item.Id" data-id="@item.Id">@item.Nombre </option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="item form-group col-md-6 col-sm-6 col-xs-12">

        </div>

        <div class="item form-group col-md-12 col-sm-12col-xs-12 tabledetalleprod" style="height: 350px; overflow-y: auto;">
            <table id="datatable-responsive11" class="table table-striped table-bordered" cellspacing="0" width="100%" style="font-size:12px !important">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Código SAP
                        </th>
                        <th style="width:50px"> </th>
                    </tr>
                </thead>
                <tbody>
                    @if (ListProd != null)
                    {
                        foreach (var item in ListProd)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodigoSap)
                                </td>

                                <td style="text-align:center; width:50px">
                                    <input class="inputNumCortesias" id="@item.CodigoSap" type="text" onkeypress='return EsNumero(this);' onchange="SumarTotalCortesias(this.value)" />
                                    @*<a class="lnkDelete" data-id="@item.IdProducto" href="javascript:void(0)"><b class="fa fa-times-circle"></b></a>*@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="item form-group col-md-12 col-sm-12 col-xs-12">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="SoporteCorreos">
                Soporte Correos
            </label>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="row">
                    <div class="col-ms-10 col-sm-10 col-xs-12">
                        <div id="dropzoneElements" class="dropzone"> </div>
                        <input type="hidden" id="Imagen" name="Imagen" />
                    </div>
                </div>
            </div>
        </div>

        <div class="item form-group col-md-12 col-sm-12 col-xs-12 pull-left">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 pull-left" for="Descripcion">
                Descripcion
            </label>
            <div class="col-md-10 col-sm-10 col-xs-12 pull-left">
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control col-md-7 col-xs-12 required", maxlength = 10000, @rows = "4", id = "Descripcion" })
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success" onclick="BotonGuardarUsuario()" id="btnSaveUsuario"> <i class="fa fa-"> </i> Guardar</button>
            <button type="button" class="btn btn-danger" onclick="BotonCancelarUsuario()" id="btnCancelarUsuario"> Cancelar</button>
        </div>
    </div>

</form>

<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery-ui.min.autComp.js"></script>
<script src="~/Vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<script src="~/Vendors/dropzone/dist/min/dropzone.min.js"></script>
<script src="~/Scripts/Cortesia.js"></script>
<script src="~/Scripts/General.js"></script>
