@model  CorParques.Negocio.Entidades.DetalleInventario


@if (Model.Apertura != null && Model.Apertura.Count() > 0  )
{
    var _model = Model.Apertura.First();

    if (_model.AperturaBase.Count() > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <h3 id="idNombreTaquillero"></h3>
            </div>
        </div>
        <br />
        <div class="row" id="DenominacionMonedas">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div id="listView">

                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Tipo
                                </th>
                                <th>
                                    Denominación
                                </th>
                                <th style="width:15px">
                                    Cantidad Punto
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in _model.TiposDenominacion)
                            {
                                if (_model.AperturaBase != null)
                                {
                                    double valorTexto = 0;

                                    var valorBase = _model.AperturaBase.Where(x => x.IdTipoDenominacion.Equals(item.IdTipoDenominacion));

                                    if (valorBase != null && valorBase.Count() > 0)
                                    {
                                        valorTexto = valorBase.First().CantidadPunto;
                                    }

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tipo)
                                        </td>
                                        <td class="FormatMonedaDetalle">
                                            @Html.DisplayFor(modelItem => item.Denominacion)
                                        </td>
                                        <td  width="50px" style="padding:1px">
                                            <input type="text" class="form-control valor" data-id="@item.IdTipoDenominacion" value="@valorTexto" readonly />
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>

         
            </div>

        </div>
        <br />
    }
    if (_model.AperturaElemento != null && _model.AperturaElemento.Where(x => x.ValidTaquilla).Count() > 0)
    {
        <div class="row" id="Elementos">
            <div class="col-md-12 col-sm-12 col-xs-12">
                
                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Código de barras
                            </th>
                            <th style="width:15px">
                                Observaciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in _model.AperturaElemento.Where(x=> x.ValidTaquilla))
                        {
                            <tr>
                                <td>
                                    @item.Elemento.Nombre
                                </td>
                                <td>
                                    @item.CodigoBarras
                                </td>
                                <td>
                                    @item.Observacion
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
    }

    if (_model.AperturaBrazalete.Count() > 0 && _model.TiposBrazaletes.Count() > 0)
    {
        <div class="row" id="Brazaletes">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th style="width:15px">
                                Cantidad Punto
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in _model.TiposBrazaletes)
                    {
                        var valorBase = _model.AperturaBrazalete.Where(x => x.IdBrazalete == item.Id);
                        double valorTexto = 0;
                        if (valorBase.Count() > 0)
                        {
                            valorTexto = valorBase.First().BrazaleteDetalle.Cantidad;
                        }

                        <tr>

                            <td>@item.Nombre</td>
                            <td  width="50px" style="padding:1px"><input type="text" class="form-control" value="@valorTexto" readonly /></td>
                        </tr>



                    }
                    </tbody>
                </table>
            </div>
        </div>

        <br />

    }

    <div class="row">
        <div class="col-md-12">
            <input type="button" class="btn btn-success" value="Aceptar" id="btnAceptarDetalle" />
            <input type="button" class="btn btn-danger" value="Cancelar" id="btnCancelarDetalle" />
        </div>
    </div>

    <script>


        $("#btnAceptarDetalle").click(function () {
            DetalleInventario = @Html.Raw(Json.Encode(Model));
            EjecutarAjax(urlBase + "Cuenta/ObtenerLogin", "GET", null, "printPartialModal", { title: "Confirmación taquillero", hidesave: true, modalLarge: false });
        });

        $("#btnCancelarDetalle").click(function(){
            cerrarModal("modalCRUD");
        });

        //Formato de la moneda
        $.each($(".FormatMonedaDetalle"), function (i, item) {
            var valor = $.trim($(item).html());
            if (valor.length > 0)
                $(item).html(FormatoMoneda(valor));
        });

        //Setear nombre taquillero
        $("#idNombreTaquillero").html("Taquillero: " + NombreTaquillero);
    </script>

}




