@*@model CorParques.Negocio.Entidades.ReporteFallaAtraccion*@

@{
    ViewBag.Title = "Reporte Inventario General";
    var Punto = (IEnumerable<CorParques.Negocio.Entidades.Almacen>)ViewBag.Punto;
    var Material = (IEnumerable<CorParques.Negocio.Entidades.Materiales>)ViewBag.Material;
    var CB = (IEnumerable<CorParques.Negocio.Entidades.TipoGeneral>)ViewBag.centroB;


}

<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label class="control-label col-md-4 col-sm-4 col-xs-4">Fecha Inicial</label>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="input-group date" id="datetimepickerIni">
            <input type="text" class="form-control FInicial required" id="FInicial">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label class="control-label col-md-4 col-sm-4 col-xs-4">Fecha Final</label>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="input-group date" id="datetimepickerFin">
            <input type="text" class="form-control FFinnal required" id="FFinal">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

@*########################################################################################################*@

<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label class="control-label col-md-4 col-sm-4 col-xs-4">Almacen</label>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <select class="form-control setSelect2" name="idPunto" id="idPunto">
            <option value="">* Seleccione</option>
            @foreach (CorParques.Negocio.Entidades.Almacen item in Punto)
            {
                <option value="@item.CodSapAlmacen">@item.CodSapAlmacen</option>
            }
        </select>
    </div>
</div>

<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label class="control-label col-md-4 col-sm-4 col-xs-4">Material</label>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <select class="form-control setSelect2" name="idMaterial" id="idMaterial">
            <option value="">* Seleccione</option>
            @if (Material != null && Material.Count() > 0)
            {
                <option value="0">TODOS LOS MATERIALES</option>
            }
            @foreach (CorParques.Negocio.Entidades.Materiales item in Material)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div>
</div>

@*<div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-4 col-sm-4 col-xs-4">Tipo de producto</label>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <select class="form-control setSelect2" name="DDL_CB" id="DDL_CB">
                <option value="">* Seleccione</option>
                @if (CB != null && CB.Count() > 0)
                {
                    <option value="0">TODOS</option>
                }
                @foreach (CorParques.Negocio.Entidades.TipoGeneral item in CB)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            </select>
        </div>
    </div>*@



<div class="form-group col-md-12 col-sm-12 col-xs-12" style="text-align:right; margin-top:20px;">
    <a href="javascript:void(0)" id="btnConsultar" class="right btn btn-success">Consultar</a>
    <a href="javascript:void(0)" id="btnLimpiar" class="right btn btn-danger">Limpiar</a>
</div>