@model CorParques.Negocio.Entidades.Reimpresion
@if (Model != null)
{
    var fecha = Convert.ToDateTime(Model.Fecha).ToString("dd/MM/yyyy hh:mm tt");
    <form id="frmDetalle" method="post" action="@Url.Action("Imprimir","Reimpresion")">
        @Html.HiddenFor(model => model.IdFactura)
        @Html.HiddenFor(model => model.Punto)
        @Html.HiddenFor(model => model.Fecha)
        @Html.HiddenFor(model => model.Productos)
        @Html.HiddenFor(model => model.NombrePunto)
        <div class="panel panel-default">
            <div class="panel-heading">Factura: @Model.IdFactura</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Punto de venta: </dt>
                    <dd>@Model.NombrePunto</dd> 
                    <dt></dt><dd><br /></dd>                    
                    <dt>Fecha de venta: </dt>
                    <dd>@fecha</dd>
                    <dt></dt><dd><br /></dd>    
                    <dt>Productos: </dt>
                    <dd>@Model.Productos</dd>
                </dl>
            </div>
        </div>
        <div style="text-align:right;">                     
            <button type="button" class="btn btn-fill btn btn-success" name="@Model.IdFactura" data-id="@Model.IdFactura" id="btnPrintint">Imprimir</button>
            <button type="button" class="btn btn-fill btn-danger" data-dismiss="modal">Cerrar</button>   
        </div>
    </form>
}
<script>
    $(function () {
        $("#btnPrintint").click(function () {        
            id = $(this).data("id");
            PintById(id);
        });
    });
    function Printint() {        
        cerrarModal("modalCRUD");
        //MostrarMensajeRedireccion("Importante", "Operación realizada con éxito.", "Reimpresion/Index", "success");
        EjecutarAjax(urlBase + "Reimpresion/Imprimir", "GET", { id: Id }, "successPrint", null);
    }
</script>