@model CorParques.Negocio.Entidades.ReimpresionFiltros

@if (Model != null && Model.objReimpresion != null)
{
    if (Model.objReimpresion != null && Model.objReimpresion.Count()>0)
    {    
    <form id="frmList" method="post" action="@Url.Action("ImprimirTodo","Reimpresion")">
        <table id="datatable-responsive" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Factura</th>
                    <th>Fecha de venta</th>
                    <th>Punto de venta</th>
                    <th>Productos</th>
                    <th style="width:50px"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.objReimpresion != null)
                {
                    var intContador = 0;

                    foreach (var item in Model.objReimpresion)
                    {
                        var fecha = Convert.ToDateTime(item.Fecha).ToString("dd/MM/yyyy hh:mm tt");
                        <tr id="infoData">
                            <td style="width:80px">
                                @Html.DisplayFor(modelItem => item.CodigoFactura)
                                @Html.HiddenFor(modelItem => item.CodigoFactura)
                                <input type="hidden" name="objReimpresion[@intContador].IdFactura" value="@item.IdFactura" id="@item.IdFactura">
                                @*<input type="text" class="form-control" disabled id="Valor_@intContador" name="objReimpresion[@intContador].IdFactura" value="@item.IdFactura"/>*@
                            </td>
                            <td style="width:160px">
                                @Html.DisplayFor(modelItem => fecha)
                                @Html.HiddenFor(modelItem => item.Fecha)
                                <input type="hidden" name="objReimpresion[@intContador].Fecha" value="@item.Fecha">
                                @*<input type="hidden" name="@item.Fecha" value="@item.Fecha" id="@item.Fecha">*@
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.NombrePunto)
                                @Html.HiddenFor(modelItem => item.NombrePunto)
                                <input type="hidden" name="objReimpresion[@intContador].NombrePunto" value="@item.NombrePunto">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Productos)
                                @Html.HiddenFor(modelItem => item.Productos)
                                <input type="hidden" name="objReimpresion[@intContador].Productos" value="@item.Productos">
                            </td>                            
                            <td style="text-align:center; width:50px">
                                <input type="hidden" name="objReimpresion[@intContador].Punto" value="@item.Punto">
                                <a class="lnkDetail" data-id="@item.IdFactura" href="javascript:void(0)" title="Detalle"><b class="glyphicon glyphicon-eye-open"></b></a>
                                <a class="lnkPrint" data-id="@item.IdFactura" href="javascript:void(0)" title="Imprimir"><b class="glyphicon glyphicon-print"></b></a>
                            </td>
                        </tr>
                        intContador++;
                    }
                }
            </tbody>
        </table>
        <div style="text-align:right;">
            <button type="button" class="btn btn-fill btn btn-success btn-wd btn-sm " id="btnPrintAll">Imprimir Todo</button>
        </div>
    </form>
    }
}
