@model IEnumerable<CorParques.Negocio.Entidades.CargueBoleteria>


<table id="datatable-responsive" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Tipo Boleteria
            </th>
            <th>
                Descripción
            </th>
            <th>
                Consecutivo Inicial
            </th>
            <th>
                Consecutivo Final
            </th>            
            <th>
                Fecha Inicio Vigencia
            </th>
            <th>
                Fecha Fin Vigencia
            </th>
            <th>
                Estado
            </th>     
            <th style="width:50px"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsecutivoInicial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsecutivoFinal)
                    </td>
                    <td>
                        @item.FechaInicioVigencia.ToString("yyyy/MM/dd HH:mm")
                    </td>
                    <td>
                        @item.FechaFinVigencia.ToString("yyyy/MM/dd HH:mm")
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td style="text-align:center; width:50px"> 
                        @if (item.IdEstado != (int)CorParques.Transversales.Util.Enumerador.Estados.Anulado)
                        {
                            <a class="lnkInvalidate" data-id="@item.IdCargueBoleteria" href="javascript:void(0)"><b class="fa fa-times-circle"></b></a>
                        }
                        else
                        {
                            <a></a>
                        }
                    </td>
                </tr>
            }
        }

    </tbody>
</table>