@model CorParques.Negocio.Entidades.Grupo
@{
    var ids = Model.PuntosAsociados.Split(',').Select(x => x.Split('|')[0]);
    var nombres = Model.PuntosAsociados.Split(',').Select(x => x.Split('|')[1]);
}
<form>
    <div class="form-horizontal form-label-left">
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="Nombre">
                    Grupo Notificación <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control col-md-7 col-xs-12 required", maxlength = "50" })
                </div>
            </div>
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Nombre">
                    Descripción <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control col-md-7 col-xs-12 required", maxlength = "300" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="Nombre">
                    Estado <span>*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.EstadoId, new SelectList(Model.ListaEstados, "Id", "Nombre", Model.EstadoId), "Seleccione...", new { @class = "form-control required" })

                </div>
            </div>
        </div>

        <div class="row">
            <div class="item col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-2 col-sm-4 col-xs-12" for="Password">
                    Puntos <span>*</span>
                </label>

                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input id="puntosAutocomplete" type="text" class="form-control col-md-6 col-sm-6 col-xs-12" />
                    <input id="tagsPuntos" type="text" class="tags form-control required" readonly="readonly" value="@string.Join(",",nombres)" />
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.PuntosAsociados, new { id = "hdf_UsuariosSeleccionados", Value= string.Join(",",ids) })
</form>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery-ui.min.autComp.js"></script>
<script src="~/Vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<script>
    $(document).ready(function () {
       var dataPuntos=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Puntos.Select(x => new { label = x.Nombre, value = x.Id,category = x.TipoPunto }).ToArray()));

        InitPartialCreate(dataPuntos);
    });
</script>
