@model CorParques.Negocio.Entidades.ReporteVentasPorProductoFiltros
@if (Model != null)
{
    if (Model.objReporteVentasPorProducto != null && Model.objReporteVentasPorProducto.Count() > 0)
    {
        <form id="frmList" method="post" action="@Url.Action("ExportarExcel","ReporteVentasPorProducto")">
            <table id="datatable-responsive" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>                        
                        <th>Código de Producto</th>
                        <th>Nombre del Producto</th>
                        <th style="width: 200px">Punto</th>
                        <th>Cantidad</th>
                        <th>Valor Sin Impuesto</th>
                        <th>Valor Con Impuesto</th>                                               
                    </tr>
                </thead>
                <tbody>
                    @if (Model.objReporteVentasPorProducto != null)
                    {
                        var intContador = 0;
                        foreach (var item in Model.objReporteVentasPorProducto)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodigoProducto)
                                    <input type="hidden" name="objReporte[@intContador].CodigoProducto" value="@item.CodigoProducto">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreProducto)
                                    <input type="hidden" name="objReporte[@intContador].NombreProducto" value="@item.NombreProducto">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Punto)      
                                    <input type="hidden" name="objReporte[@intContador].Punto" value="@item.Punto" id="@item.Punto">
                                    <input type="hidden" name="objReporte[@intContador].IdPunto" value="@item.IdPunto" id="@item.IdPunto">
                                </td>                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cantidad)
                                    <input type="hidden" name="objReporte[@intContador].Cantidad" value="@item.Cantidad">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorSinImpuesto)
                                    <input type="hidden" name="objReporte[@intContador].ValorSinImpuesto" value="@item.ValorSinImpuesto">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorConImpuesto)
                                    <input type="hidden" name="objReporte[@intContador].ValorConImpuesto" value="@item.ValorConImpuesto">
                                </td>
                            </tr>
                            intContador++;
                        }
                    }
                </tbody>
            </table>
            <br />
            <div style="text-align:right;">
                <a class="btn btn-app" id="btnExport">
                    <i class="fa fa-file-excel-o"></i> Exportar
                </a>
            </div>
        </form>
    }
}
