@model IEnumerable<CorParques.Negocio.Entidades.Convenio>


<table id="datatable-responsive" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>            
            <th>
                Nombre
            </th>
            <th>
                Código SAP Pedido
            </th>            
            <th>
                Fecha Inicio
            </th>    
            <th>
                Fecha Fin
            </th> 
            <th>
                Es Código Barras
            </th>             
            <th>
                Reutiliza Código Barras
            </th> 
            <th>
                Activo
            </th>
            <th style="width:50px"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>     
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>                                                   
                    <td>
                        @Html.DisplayFor(modelItem => item.CodSapPedido)
                    </td>
                    <td>
                        @item.FechaInicial.ToString("yyyy/MM/dd")
                    </td>
                    <td>
                        @item.FechaFinal.ToString("yyyy/MM/dd")
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.EsCodigoBarras)                        
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.ReutilizaCodigoBarras)
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.EsActivo)
                    </td>
                    <td style="text-align:center; width:50px">                        
                        <a class="lnkDetail" data-id="@item.IdConvenio" href="javascript:void(0)"><b class="fa fa-eye"></b></a>
                        <a class="lnkEdit" data-id="@item.IdConvenio" href="javascript:void(0)"><b class="fa fa-pencil-square"></b></a>
                        <a class="lnkExclusion" data-id="@item.IdConvenio" data-convenio="@item.Nombre" href="javascript:void(0)"><b class="fa fa-calendar"></b></a>
                        @if (item.EsCodigoBarras)
                        {
                            <a class="lnkProductos" data-id="@item.IdConvenio" data-convenio="@item.Nombre" href="javascript:void(0)"><b class="fa fa-product-hunt"></b></a>    
                        }
                    </td>
                </tr>
            }
        }

    </tbody>
</table>