@model CorParques.Presentacion.MVC.Core.Models.ConsultaKiosco
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_LayoutKiosco.cshtml";
    var tipo = ViewBag.Tipo;
    var vigencia = false;
    var bol = false;
    var entregaBC = true;
    int _idNotaCredito = 0;

    if (Model.Factura != null && Model.Factura.DetalleFactura.Count() != 0)
    {
        var df = Model.Factura.DetalleFactura.Where(x => x.IdNotaCredito != 0).FirstOrDefault();
        if (df != null) { _idNotaCredito = df.IdNotaCredito; }
    }
    if (Model.Boleta != null)
    {
        if (DateTime.Now < Model.Boleta.FechaInicioEvento || DateTime.Now > Model.Boleta.FechaFinEvento) { vigencia = false; }
        else { vigencia = true; }
    }
    if (Model.Boleta != null && Model.DetalleBoleta != null) { bol = true; }

    if (Model.BolControl != null)
    {
        DateTime date = new DateTime(1, 1, 1, 0, 0, 0);
        if (Model.BolControl.FechaRedencion == date) { entregaBC = false; }
    }
}
<link rel="stylesheet" href="~/Content/Kioscos/Consulta.css" />

<a href="javascript:Atras()" style="text-decoration: none; position: absolute; top: 2px; left: 2px;">
    <div class="backButton">
        <div class="bckTriangulo"></div>
    </div>
    <p class="bckBtn-text">Atras</p>
</a>

@if (tipo == "General")
{
    <div class="consulta">
        <div class="info">
            <label class="info-title">Nombre del producto: </label>
            <span class="info-data">@Model.DetalleBoleta.NombreProducto.ToLower()</span>
        </div>
        <div class="info">
            <label class="info-title">Vigencia del producto: </label>
            <span class="info-data">@Model.DetalleBoleta.FechaVencimiento</span>
        </div>
        <div class="info">
            <label class="info-title">Estado del producto: </label>
            <span class="info-data">@(Model.Boleta.IdEstado == 1? "Entregado" : "Disponible")</span>
        </div>
        <div class="info">
            <label class="info-title">Punto de entrega:</label>
            <span class="info-data">@Model.DetalleBoleta.Punto</span>
        </div>
        <div class="info">
            <label class="info-title">Impresion:</label>
            <span class="info-data">@((vigencia && (Model.Boleta.IdEstado==2 || Model.Boleta.IdEstado==1)) ? "Disponible" : "No disponible" )</span>
        </div>
    </div>

    <div class="uso-atraccion">
        <div class="caja" style="@((Model.DetalleBoleta.historicoUso.Count() != 0) ? "display:block;": "display:none;")">
            <h6 class="titulo">ver Uso de atracciones</h6>
            <div class="box-content">
                <ul id="l-atraccion">
                    @foreach (var item in Model.DetalleBoleta.historicoUso)
                    {
                        <li style="list-style: none;">@item.Punto.Split('-')[0]</li>
                    }
                </ul>
            </div>
        </div>
        <div class="caja" style="@((Model.DetalleBoleta.historicoUso.Count() != 0) ? "display:block;": "display:none;")">
            <h6 class="titulo">Punto</h6>
            <div class="box-content">
                <ul id="l-punto">
                    @foreach (var item in Model.DetalleBoleta.historicoUso)
                    {
                        <li style="list-style: none;">@item.Punto.Split('-')[1]</li>
                    }
                </ul>
            </div>
        </div>
        <div class="caja" style="@((Model.DetalleBoleta.historicoUso.Count() != 0) ? "display:block;": "display:none;")">
            <h6 class="titulo">Fecha y Hora</h6>
            <div class="box-content">
                <ul id="l-fecha">
                    @foreach (var item in Model.DetalleBoleta.historicoUso)
                    {
                        <li style="list-style: none;">@item.Fecha</li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
else if (tipo == "UnoUno")
{
    <div id="btn-next"></div>

    <div id="consulta-factura" style="display:block;">
        <div class="consulta" style="padding: 45px 100px;">

            <div class="info">
                <label class="info-title">Factura:  </label>
                <span class="info-data">@Model.Factura.CodigoFactura</span>
            </div>
            <div class="info">
                <label class="info-title">Estado factura:  </label>
                <span class="info-data">@ViewBag.EstadoFactura</span>
            </div>
            <div class="info">
                <label class="info-title">Cliente: </label>
                <span class="info-data">@Model.FacturaImprimir.NombreCliente</span>
            </div>
            <div class="info">
                <label class="info-title">Fecha y hora de compra:</label>
                <span class="info-data">@Model.Factura.FechaCreacion</span>
            </div>
            <div class="info" style="@((Model.Factura.IdConvenio != 0) ? "" : "display:none;")">
                <label class="info-title">Convenio: </label>
                <span class="info-data">@Model.Factura.IdConvenio</span>
            </div>
            <div class="info" style="@((Model.Factura.IdEstado == 3) ? "" : "display:none;")">
                <label class="info-title">Anulacion de factura:</label>
                <span class="info-data">Anulado</span>
            </div>
            <div class="info" style="@((_idNotaCredito !=0) ? "" : "display:none;")">
                <label class="info-title">Nota crédito: </label>
                <span class="info-data">@_idNotaCredito</span>
            </div>
            <div class="info">
                <label class="info-title">Punto: </label>
                <span class="info-data">@Model.FacturaImprimir.Punto</span>
            </div>
            <div class="info">
                <label class="info-title">Taquillero:</label>
                <span class="info-data">@Model.FacturaImprimir.Usuario.ToLower()</span>
            </div>
            <div class="info">
                <label class="info-title">Impresi&oacute;n en l&iacute;nea:</label>
                <span class="info-data">@ViewBag.ImpFactura</span>
            </div>

            @*<div style="@(bol? "display:none;" : "")">
                    @foreach (var item in Model.Factura.DetalleFactura)
                    {
                        <div class="info">
                            <label class="info-title">Nombre del producto:</label>
                            <span class="info-data">@item.Nombre.ToLower()</span>
                        </div>
                    }
                </div>*@

            <div style="@(bol? "" : "display:none")">
                <div class="info">
                    <label class="info-title">Nombre del producto:</label>
                    <span class="info-data">@(bol? Model.DetalleBoleta.NombreProducto.ToLower() : "")</span>
                </div>
                <div class="info">
                    <label class="info-title">Vigencia del producto:</label>
                    <span class="info-data">@(bol? Model.DetalleBoleta.FechaVencimiento.ToString() : "")</span>
                </div>
                <div class="info">
                    <label class="info-title">Estado del producto:</label>
                    <span class="info-data">@(bol? (Model.Boleta.IdEstado == 1? "Entregado" : "Disponible") : "")</span>
                </div>
                <div class="info">
                    <label class="info-title">Punto de entrega:</label>
                    <span class="info-data">@(bol? Model.DetalleBoleta.Punto : "")</span>
                </div>
                <div class="info">
                    <label class="info-title">Impresion:</label>
                    <span class="info-data">@((vigencia && Model.Boleta.IdEstado==2) ? "Disponible" : "No disponible" )</span>
                </div>
            </div>
        </div>
    </div>

    <div id="factura" style="display: none;">
        <div class="fac-bg py-3">
            <div class="row">
                <div class="col-6" style="display: flex; flex-direction: column;">
                    <h3>C O R P A R Q U E S</h3>
                    <span style="font-size: small;">830008059-1</span>
                    <span style="font-size: small;">CRA. 71d 1 - 14 SUR</span>
                    <span style="font-size: small;">Tel 4142700</span>
                    <span>@Model.FacturaImprimir.TextoHead1</span>
                </div>

                <div class="col-6" style="display: flex;">
                    <div class="fc-info-head">
                        <span>Fecha</span> <span class="fc-info">@Model.FacturaImprimir.Fecha.ToShortDateString()</span>
                        <span>hora</span> <span class="fc-info">@Model.FacturaImprimir.Fecha.ToString("HH:mm")</span>
                        <span>Factura POS No:</span> <span class="fc-info">@Model.FacturaImprimir.CodigoFactura</span>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <div class="box">
                        <div class="prod-title-container">
                        </div>
                        <div class="prod">
                            <span class="prod-title prod-bg-color prod-title-left">PRODUCTO</span>
                            <span class="prod-title prod-bg-color text-center">CANT</span>
                            <span class="prod-title prod-bg-color prod-title-right text-center">VALOR</span>
                            @foreach (var item in Model.FacturaImprimir.ListaProductos)
                            {
                                <span class="pl-2">@item[1]</span>
                                <span class="text-center">@item[0]</span>
                                <span class="text-center">$@item[2]</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="fc-box">
                        <span class="prod-title fc-text">@Model.FacturaImprimir.MetodosPago[0][0]</span>
                        <span class="prod-title fc-text">$@Model.FacturaImprimir.MetodosPago[0][1]</span>
                    </div>
                    <div class="fc-box-content">
                        <span class="pl-2">@Model.FacturaImprimir.MetodosPago[1][0]</span>
                        <span>$@Model.FacturaImprimir.MetodosPago[1][1]</span>
                        <span class="pl-2">@Model.FacturaImprimir.MetodosPago[2][0].ToLower()</span>
                        <span> $@Model.FacturaImprimir.MetodosPago[2][1]</span>
                    </div>
                    <br>
                    <span>RESUMEN IMPUESTOS</span>
                    <div style="display: grid; grid-template-columns: repeat(3, 1fr); width: 85%;">
                        <span>TARIFA</span>
                        <span>BASE</span>
                        <span>IMPUESTO</span>
                        @foreach (var item in Model.FacturaImprimir.Impuestos)
                        {
                            <span>@item[0]</span>
                            <span>$ @item[1]</span>
                            <span>$ @item[2]</span>
                        }
                    </div>
                    <br>
                    <div class="taq-info">
                        <span>ATENDIDO POR:</span> <span>@Model.FacturaImprimir.Usuario</span>
                        <span>PUNTO:</span> <span>@Model.FacturaImprimir.Punto</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else if (tipo == "FechaAbierta")
{
    <div class="consulta">
        <div class="info">
            <label class="info-title">Cliente:</label>
            <span class="info-data">@Model.BolControl.NombreCliente</span>
        </div>
        <div class="info">
            <label class="info-title">Numero de pedido:</label>
            <span class="info-data">@Model.BolControl.CodSapPedido</span>
        </div>
        <div class="info">
            <label class="info-title">Tipo de pedido:</label>
            <span class="info-data">@(Model.BolControl.FechaAbierta == "SI"? "Fecha abierta" : "Institucional")</span>
        </div>
        <div class="info">
            <label class="info-title">Estado del pedido: </label>
            <span class="info-data">@(Model.BolControl.EstadoPedido == 1? "Activo" : "Inactivo")</span>
        </div>
        <div class="info">
            <label class="info-title">Estado de la boleta:</label>
            <span class="info-data">@(Model.BolControl.EstadoBC == 1? "Activa" : "Inactiva")</span>
        </div>
        <div class="info">
            <label class="info-title">Asesor: </label>
            <span class="info-data">@Model.BolControl.NombreVendedor</span>
        </div>
        <div class="info">
            <label class="info-title">Fecha y hora de asignacion:</label>
            <span class="info-data">@Model.BolControl.FechaCreacion</span>
        </div>
        <div class="info">
            <label class="info-title">Fecha de entrega:</label>
            <span class="info-data">@(entregaBC ? Model.BolControl.FechaRedencion.ToString() : "")</span>
        </div>
        <div class="info">
            <label class="info-title">Correo:</label>
            <span class="info-data">@Model.BolControl.Correo</span>
        </div>
    </div>
}

@section scripts{
    <script>

        if ("@ViewBag.Tipo" == "General") {
            let atraccion = document.getElementById('l-atraccion');
            let punto = document.getElementById('l-punto');
            let fecha = document.getElementById('l-fecha');

            atraccion.addEventListener("scroll", function () {
                punto.scrollTop = atraccion.scrollTop;
                fecha.scrollTop = atraccion.scrollTop;
            });

            punto.addEventListener("scroll", function () {
                atraccion.scrollTop = punto.scrollTop;
                fecha.scrollTop = punto.scrollTop;
            });

            fecha.addEventListener("scroll", function () {
                atraccion.scrollTop = fecha.scrollTop;
                punto.scrollTop = fecha.scrollTop;
            });

        } else if ("@ViewBag.Tipo" == "UnoUno") {
            var btNext = document.getElementById('btn-next');
            var facQuery = document.getElementById('consulta-factura');
            var fac = document.getElementById('factura');

            btNext.addEventListener('click', function () {
                if (facQuery.style.display == 'block') {
                    facQuery.style.display = 'none';
                    fac.style.display = 'block';
                } else {
                    fac.style.display = 'none';
                    facQuery.style.display = 'block';
                }
            });
        }

        (function () {
            const idleDurationSecs = 15;
            const redirectUrl = '/Kioscos';
            let idleTimeout;

            const resetIdleTimeout = function () {
                if (idleTimeout) clearTimeout(idleTimeout);
                idleTimeout = setTimeout(() => window.location.replace(redirectUrl) , idleDurationSecs * 1000);
            };

            resetIdleTimeout();

            ['click', 'touchstart', 'mousemove'].forEach(evt =>
               document.addEventListener(evt, resetIdleTimeout, false)
            );
        })();

        function Atras() {
            window.history.back();
        }
    </script>
}
