@model IEnumerable<CorParques.Negocio.Entidades.ReporteCuadreDiarioFlujoCajasTaq>


<div class="row" id="div_tabla">
    <table id="datatable-responsive" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Total efectivo
                </th>
                <th>
                    Ingresos en tarjeta
                </th>
                <th>
                    Ingresos por bonos 
                </th>
                <th>
                    Ingresos bonos Sodexo 
                </th>
                <th>
                    Payulatam
                </th>                
                <th>
                    Empleados Serviola 
                </th>
                <th>
                    Empleados Activos 
                </th>
                <th>
                    Empleados Corparques
                </th>
                <th>
                    Consumos Cortesías
                </th>
                <th>
                    Sobrantes 
                </th>
                <th>
                    Faltantes
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @DateTime.Parse(@item.Fecha).ToString("yyyy/MM/dd")
                        </td>
                        <td style="text-align:left;">
                            @string.Format("{0:C0}", long.Parse(item.TotalEfectivo))
                        </td>
                        <td style="text-align:left;">
                            @string.Format("{0:C0}", long.Parse(item.Tarjetas))
                        </td>
                        <td style="text-align:left;">
                            @string.Format("{0:C0}", long.Parse(item.BonoRegalo))
                        </td>
                        <td style="text-align:left;">
                            @string.Format("{0:C0}", long.Parse(item.BonoSodexo))
                        </td>
                        <td style="text-align:left;">
                            @string.Format("{0:C0}", long.Parse(item.Payulatam))
                        </td>
                        <td style="text-align:left;">
                            @string.Format("{0:C0}", long.Parse(item.DescuentoEmpleadoServiola))
                        </td>
                        <td style="text-align:left;">
                            @string.Format("{0:C0}", long.Parse(item.DescuentoEmpleadoActivos))
                        </td>
                        <td style="text-align:left;">
                            @string.Format("{0:C0}", long.Parse(item.DescuentoEmpleadoCorparques))
                        </td>
                        <td style="text-align:left;">
                            @string.Format("{0:C0}", long.Parse(item.ConsumosCortesias))
                        </td>
                        <td style="text-align:left;">
                            @string.Format("{0:C0}", long.Parse(item.Sobrantes))
                        </td>
                        <td style="text-align:left;">
                            @string.Format("{0:C0}", long.Parse(item.Faltantes))
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@*<div class="row">
    <div class="item form-group col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-6 col-sm-3 col-xs-12" for="valorsinimpuesto">
            Total Valor Sin Impuesto
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @string.Format("{0:C0}", Model.Sum(x => long.Parse(x.ValorSinImpuesto)))
        </div>
    </div>    
</div>
<div class="row">
    <div class="item form-group col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-6 col-sm-3 col-xs-12" for="valorconimpuesto">
            Total Valor Con Impuesto
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @string.Format("{0:C0}", Model.Sum(x => long.Parse(x.ValorConImpuesto)))
        </div>
    </div>
</div>*@