@model CorParques.Negocio.Entidades.ProductosPedidos

@{
    ViewBag.Title = "Descarga Masiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="formDescargueMasivo">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
            <select id="ddlPedido" class="form-control required setSelect2">
                <option value="">Seleccione</option>
                @if (Model != null & Model.ListaPedidos != null)
                {
                    foreach (var item in Model.ListaPedidos.OrderBy(x => x.Nombre))
                    {
                        <option value="@item.CodSAP">@string.Concat(item.Nombre,' ', item.CodSAP)</option>
                    }
                }
            </select>
        </div>
    </div><br />
    <div class="row" id="puntos">
        <div class="col-md-5 col-sm-5 col-xs-12">
            <select id="ddlPunto" name="ddlPunto" class="form-control required setSelect2">
                <option value="">Seleccione</option>
                @if (Model != null && Model.ListaPuntos != null)
                {
                    foreach (var item2 in Model.ListaPuntos)
                    {
                        <option value="@item2.Id">@item2.Nombre</option>
                    }
                }
            </select>
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-5">
            <div id="vwTabla"></div>
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
            <input type="button" class="right btn btn-success" value="Descargar" id="btnAceptar" />
            <input type="button" class="right btn btn-danger" value="Cancelar" id="btnCancelar" />
        </div>
    </div>
</form>

@section scripts{
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/DescargueMasivoBoleta.js"></script>
    @if (Model != null)
    {
        <script>
            @*lisProductosPedido = @Html.Raw(Json.Encode(ViewBag.listaPedidos));*@
            tablaMostrar =  @Html.Raw(Json.Encode(ViewBag.Tabla));
        </script>
    }

    @if (Model.ListaPedidos == null)
    {
        <script>
            @Html.Raw("MostrarMensajeRedireccion('Importante', 'No existen pedidos disponibles para descargar', 'Home/Index', 'warning');");
        </script>
    }
}




