@model CorParques.Negocio.Entidades.DetalleBoleta



@if (Model.IdBoleta > 0)
{
    @*<div class="row">*@
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label>Fecha compra: @Model.FechaVenta</label>
        </div>
    @*</div>*@

    <div class="col-md-6 col-sm-6 col-xs-12">
        <label>Cliente pedido: @Model.Cliente </label>
    </div>

    if (!string.IsNullOrEmpty(Model.Taquillero))
    {
    @*<div class="row">*@
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label>Punto compra: @Model.Punto</label>
        </div>
    @*</div>*@

    <div class="col-md-6 col-sm-6 col-xs-12">
        <label>N° Pedido: @Model.CodigoVenta </label>
    </div>

    @*<div class="row">*@
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label>Taquillero: @Model.Taquillero</label>
        </div>
    @*</div>*@

        <div class="col-md-6 col-sm-6 col-xs-12">
            <label> Producto: @Model.NombreProducto</label>
        </div>
    }

    if (!string.IsNullOrEmpty(Model.ClienteSap))
    {
        @*<div class="row">*@
            <div class="col-md-6 col-sm-6 col-xs-12">
                <label>Cliente:  @Model.ClienteSap </label>
            </div>
        @*</div>*@
    }

    @*<div class="row">*@
        @*<div class="col-md-6 col-sm-6 col-xs-12">*@
            @*<h3>@Model.NombreProducto</h3>*@
        @*</div>*@
    @*</div>*@
}

<br />
<div class="row">
    <br />
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;">
        <table class="table table-striped  table-bordered" id="datatable-responsive" cellspacing="0">
            <thead>
                <tr>
                    <th>Punto</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Valor</th>
                    <th>Documento de compra</th>
                </tr>
            </thead>
            <tbody>
                @{double Total = 0; }
                @if (Model.historicoUso != null)
                {
                    foreach (var item in Model.historicoUso)
                    {
                <tr>
                    <td>@item.Punto</td>
                    <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@item.Fecha.ToString("HH:mm:ss")</td>
                    <td>@item.Valor</td>
                    <td>@item.Factura</td>
                    @{Total = Total + item.Valor.Value; }
                </tr>
                    }
                            
                    
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        Total:
                    </td>
                    <td>                        
                            @Total                       
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<br />

@if (Model.IdBoleta > 0)
{
    if (Model.Saldo > 0)
    {
        @*<div class="row">*@
            <div class="col-md-6 col-sm-6 col-xs-12">
                <label id="lblMensaje">Saldo: @Model.Saldo</label>
            </div>
        @*</div>*@
    }
    @*<div class="row">*@
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label id="lblMensaje">Fecha de vencimiento: @Model.FechaVencimiento</label>
        </div>
    @*</div>*@
}
@if (Model.Puntos != null)
{
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label id="lblMensaje">Puntos disponibles: @Model.Puntos</label>
    </div>
}


@if (!string.IsNullOrEmpty(Model.UsuarioBloqueo))
{

    @*<div class="row" id="dvBloqueo">*@
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label id="">Usuario bloqueo: @Model.UsuarioBloqueo </label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label id="">Fecha bloqueo: @Model.FechaBloqueo</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label id="">Punto bloqueo:  @Model.PuntoBloqueo</label>
        </div>
    @*</div>*@
}
@if (ViewBag.dia != null)
{
    if ((bool)ViewBag.dia)
    {
        <br />
        @*<div class="row">*@
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3><b>Boleta no es del día</b></h3>
            </div>
        @*</div>*@
    }
}


@if (Model!= null && Model.IdBoleta == 0 && Model.BoletaInvalida)
{
    <script>
          @Html.Raw("MostrarMensajeRedireccion('Importante', 'La boleta ingresada no es valida!', 'HistoricoBoleteria/Index', 'warning');");
    </script>
}
else
{
    <br />
    if (Model.IdBoleta > 0 &&  string.IsNullOrEmpty(Model.UsuarioBloqueo.Trim()) && !Model.NombreProducto.Contains("TARJETA BASE"))
    {
        <br />
        @*<div class="row">*@
            <div class="col-md-12 col-sm-12 col-xs-12">
                <input type="button" class="btn btn-danger" value="Bloquear" id="btnBloquear" />
            </div>
        @*</div>*@
        <script>
            SetEdit();
        </script>
    }

    <script>
        idBoleta = @Model.IdBoleta;
        
    </script>
}