@model CorParques.Negocio.Entidades.AuxiliarPunto

@if (Model.IdEstructuraEmpleado > 0)
{
    if (Model.TieneUbicacion > 0)
    {
        <form>
            <div class="form-horizontal form-label-left">
                @Html.HiddenFor(model => model.IdEstructuraEmpleado)
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                        Nombre
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.NombreEmpleado, new { @class = "form-control col-md-7 col-xs-12 required", @readonly = true })
                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label" style="text-align: center;" for="mensaje">
                        ¿Esta seguro que desea retirar al auxiliar de todas las ubicaciones a las que esta asociado?
                    </label>
                </div>
            </div>
        </form>
    }
    else
    {
        <script>
            @Html.Raw("setTimeout(function () { cerrarModal('modalCRUD');}, 100);");
            @Html.Raw("EmpleadoSinUbicaciones();");
        </script>
    }
}
else
{
    <script>
        @Html.Raw("setTimeout(function () { cerrarModal('modalCRUD');}, 100);");
        @Html.Raw("EmpleadoNoEncontrado();");
    </script>
}