@model IEnumerable<CorParques.Negocio.Entidades.CortesiaPunto>

<table id="datatable-responsive" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>            
            <th>
                Punto
            </th>       
            <th>
                Atracción / Destreza
            </th>
            <th>
                Cantidad
            </th>                        
            <th>
                Estado
            </th> 
            <th style="width:50px"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>     
                    <td>
                        @Html.DisplayFor(modelItem => item.Destreza)
                    </td>               
                    <td>
                        @Html.DisplayFor(modelItem => item.Atraccion)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>                  
                    <td style="text-align:center; width:50px">                        
                        <a class="lnkDetail" data-id="@item.IdCortesiaPunto" href="javascript:void(0)"><b class="fa fa-eye"></b></a>
                        <a class="lnkEdit" data-id="@item.IdCortesiaPunto" href="javascript:void(0)"><b class="fa fa-pencil-square"></b></a>
                        @if (item.IdEstado == 1)
                        {
                            <a class="lnkDisable" data-id="@item.IdCortesiaPunto" href="javascript:void(0)"><b class="fa fa-times-circle"></b></a>
                        }                         
                    </td>
                </tr>
            }
        }

    </tbody>
</table>