@model CorParques.Negocio.Entidades.ReporteVentasFiltros

@{
    ViewBag.Title = "Reporte Ventas Directas";
    ViewBag.SubTitle = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<div id="divform">
    @if (Model != null)
    {
        <div class="row">
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Fecha Inicial
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class='input-group date' id='datetimepickerIni'>
                        <input type='text' class="form-control fechaIni required" id="txtFechaInicial" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Fecha Final
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class='input-group date' id='datetimepickerFin'>
                        <input type='text' class="form-control fechaFin required" id="txtFechaFinal" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Taquilla
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="DDL_Punto" class="form-control setSelect2">
                        <option value="">Seleccione...</option>
                        @foreach (var item in ViewBag.Puntos)
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>

            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Taquillero
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="DDL_Taquillero" class="form-control setSelect2">
                        <option value="">Seleccione...</option>
                        @foreach (var item in ViewBag.Taquilleros)
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Forma de pago
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="DDL_MetodoPago" class="form-control setSelect2">
                        <option value="">Seleccione...</option>
                        @foreach (var item in ViewBag.MetodosPago)
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>

            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Franquicia
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="DDL_Franquicia" class="form-control setSelect2">
                        <option value="">Seleccione...</option>
                        @foreach (var item in ViewBag.Franquicias)
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="item form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Convenio
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="DDL_Convenio" class="form-control setSelect2">
                        <option value="">Seleccione...</option>
                        @foreach (var item in ViewBag.Convenios)
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="text-align:right; margin-top:20px;">
            <a href="javascript:void(0)" id="btnBuscar" class="right btn btn-success">Consultar</a>
            <a href="javascript:void(0)" id="btnLimpiar" class="right btn btn-danger">Limpiar</a>
        </div>
        @*<div class="x_content">
                <div id="listView">
                    @Html.Partial("_List", Model)
                </div>
            </div>*@
    }

</div>
@section scripts{
    <script src="~/Scripts/ReporteVentasDirectas.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
}