<!DOCTYPE html>
<html lang="en">
<title>CORECORP</title>
<link rel="shortcut icon" href="~/Images/CORECORP.png" type="image/x-icon" contextmenu="" />
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Corparques</title>
    <!-- Bootstrap -->
    @*<link href="~/Vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
    <!-- Font Awesome -->
    <link href="~/Vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/loader.css">
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
</head>
<body class="nav-md" onload="real_time();" onunload="stop();" id="bodyGeneral" data-time="@(((System.Web.Configuration.SessionStateSection)System.Web.Configuration.WebConfigurationManager.GetSection("system.web/sessionState")).Timeout.TotalMinutes)">
    <div id="date_complete" style="display:none;">
    </div>
    <div class="loader-wrapper" id="loader-1">
        <img src="~/Images/LOOP-MUNDO-AVENTURA_.gif" style="height: 196px; left: 50%; top: 50%; margin: -12vw 0 0 -18vw; position: absolute;" />

        @*<div id="loader"></div>
        <div id="loader2"></div>*@
    </div>
    <hidden id="control" value="0"></hidden>
    @{ var usuarioAutenticado = (CorParques.Negocio.Entidades.Usuario)Session["UsuarioAutenticado"];}
    @{ var Punto = Session["InfoPunto"].ToString();}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title">
                            <img src="~/Images/logo.png" alt="Corparques" style="height:50px" />
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <!-- sidebar menu <span class="fa fa-chevron-down"></span> -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">

                            <ul class="nav side-menu">


                                @foreach (var principal in usuarioAutenticado.ListaMenu.Where(x => x.IdPadre.Equals(null) ).OrderBy(x => x.Orden))
                                {
                                    var hijos = usuarioAutenticado.ListaMenu.Where(x => x.IdPadre.Equals(principal.IdMenu)).OrderBy(x => x.Orden);
                                    if (hijos.Count() > 0)
                                    {
                                        <li>
                                            <a><i class="@principal.Clase"></i> @principal.Nombre <span class="fa sf-sub-indicator"></span></a>
                                            <ul class="nav child_menu">
                                                @foreach (var hijo in hijos)
                                                {
                                                    var nietos = usuarioAutenticado.ListaMenu.Where(x => x.IdPadre.Equals(hijo.IdMenu)).OrderBy(x => x.Orden);
                                                    if (nietos.Count() > 0)
                                                    {
                                                        <li>
                                                            <a><i class="@hijo.Clase"></i>@hijo.Nombre <span class="fa sf-sub-indicator"></span></a>
                                                            <ul class="nav child_menu">
                                                                @foreach (var nieto in nietos)
                                                                {
                                                                    <li><a href="@Url.Action("Index", nieto.Controlador)"><i class="@nieto.Clase"></i> @nieto.Nombre </a></li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li><a href="@Url.Action("Index", hijo.Controlador)"><i class="@hijo.Clase"></i>@hijo.Nombre</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("Index", principal.Controlador)"><i class="@principal.Clase"></i> @principal.Nombre </a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <div class="navbar-header">
                            <a class="navbar-brand" style="font-size:30px; font-weight:bold;" href="#">@Punto</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i style="font-size: 22px; margin-right: 5px; color: #6D6E70;" class="fa fa-user"></i>Bienvenido
                                    @string.Concat(usuarioAutenticado.Nombre, " ", usuarioAutenticado.Apellido, " !")
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">

                                    @if ((usuarioAutenticado.IdTipoPuntoLogueado != (int)CorParques.Transversales.Util.Enumerador.TiposPuntos.Atraccion) && (usuarioAutenticado.IdTipoPuntoLogueado != (int)CorParques.Transversales.Util.Enumerador.TiposPuntos.Parqueadero))
                                    {
                                        <li><a onclick="CambioClave();">Cambiar contraseña</a><form id="frmCambioClave" action="@Url.Action("CambioClave", "Cuenta")" method="post"></form></li>
                                    }
                                    <li><a onclick="$('#frmLogOut').submit()"><i class="fa fa-sign-out pull-right"></i> Cerrar sesión</a><form id="frmLogOut" action="@Url.Action("LogOut", "Cuenta")" method="post"></form></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown" id="menuNotificacion">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    @{ var sinVer = ((IEnumerable<CorParques.Negocio.Entidades.Notificacion>)Session["Notificaciones"]).Count(x => x.IdEstado.Equals((int)CorParques.Transversales.Util.Enumerador.Estados.Activo)); }
                                    @if (sinVer > 0)
                                    {
                                    <span id="countpendingview" class="badge bg-green">@sinVer</span>
                                    }
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    @foreach (var item in ((IEnumerable<CorParques.Negocio.Entidades.Notificacion>)Session["Notificaciones"]).OrderByDescending(x => x.FechaCreacion))
                                    {
                                        TimeSpan span = DateTime.Now.Subtract(item.FechaCreacion);
                                        var mensaje = "";
                                        if (span.Seconds < 60 && span.Minutes < 1 && span.Hours < 1)
                                        {
                                            mensaje = "hace segundos";
                                        }
                                        else if (span.Minutes < 60 && span.Hours < 1)
                                        {
                                            mensaje = $"hace {span.Minutes} minutos";
                                        }
                                        else
                                        {
                                            mensaje = $"hace {span.Hours} hora" + (span.Hours > 1 ? "s" : "");
                                        }

                                    <li class="@(item.IdEstado == (int)CorParques.Transversales.Util.Enumerador.Estados.Activo ? "notificacionNew" : "")" data-prioritario="@item.Prioritario">
                                        <a onclick="viewNotification(this)" data-titulo="@item.Asunto" data-contenido="@item.Contenido" data-id="@item.Id">
                                            <span>
                                                <b>@item.Asunto</b>
                                                <span class="time">@mensaje</span>
                                            </span>
                                            <span class="message">
                                                @(item.Contenido.Length > 50 ? item.Contenido.Substring(0, 50) + "..." : item.Contenido)
                                            </span>
                                        </a>
                                    </li>
                                    }


                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">


                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="alert alert-success alert-dismissible fade in alert-notification col-md-6 col-sm-6 col-xs-12 col-md-offset-6 col-sm-offset-6" role="alert">
                            <button type="button" class="close close-alert" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4></h4> <p></p>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>@ViewBag.Title @(Session["Contingencia"] != null ? ((int)Session["Contingencia"] == 1 ? "Contingencia" : "") : "") <small>@ViewBag.SubTitle </small></h2>
                                <div class="alignright">
                                    <img style="border:0" src="@ViewBag.Image" width="90" />
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="dashboard-widget-content">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- top tiles -->
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    ® CORPARQUES | Desarrollado por <a target="_blank" href="http://www.softtek.com/">Softtek</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <div id="modalNotificacion" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-primary">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn btn-success" id="btnOkViewNotification" data-dismiss="modal" aria-label="Close">Ok</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div id="modalCRUD" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="msjErrorModal">
                    <div id="div_message_error" class="alert alert-danger" role="alert" style="display:none;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        <label id="lbl_message_error">Error procesando la solicitud</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-url="" data-metod="" data-function="" id="btnSaveGeneric"><i class="fa fa-"></i>Guardar</button>
                    <button type="button" class="btn btn-danger" data-url="" data-metod="" data-function="" id="btnCancelGeneric">Cancelar</button>
                    <button type="button" class="btn btn-success" data-url="" data-metod="" data-function="" id="btnImprimirGeneric" style="display:none;">Imprimir</button>
                    <button type="button" class="btn btn-danger" data-url="" data-metod="" data-function="" id="btnVolverGeneric" style="display:none;">Volver</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- jQuery -->
    <script src="~/Vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <script>
        urlBase = "@Url.Action("test", "test")";
        urlBase = urlBase.replace("test/test", "");
        urlServicio = "@(System.Configuration.ConfigurationManager.AppSettings["UrlService"])";
        estadoActivo = @((int)CorParques.Transversales.Util.Enumerador.Estados.Activo);
        contingencia = @(Session["contingencia"] == null ? 0 : (int)Session["contingencia"]);
    </script>

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/General.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/ControlSesion.js"></script>
    <script src="~/Scripts/core_for_sweetAlert2.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="@(System.Configuration.ConfigurationManager.AppSettings["UrlService"].Replace("/api/", "/"))signalr/hubs"></script>
    <script>
        if(contingencia == 0){
            $.connection.hub.url = "@(System.Configuration.ConfigurationManager.AppSettings["UrlService"].Replace("/api/", "/"))signalr";
            $.connection.logging = true;
            var chat = $.connection.NotificacionesHub;
        }
        @{ 
            var usuarioInformacion = Session["UsuarioAutenticadoJSON"];
            var PuntoInformacion = CorParques.Transversales.Util.Utilidades.ObtenerInformacionPunto(System.Configuration.ConfigurationManager.AppSettings["IdPunto"].ToString());
            //usuarioInformacion.Password = "";
            //usuarioInformacion.ListaMenu = null;
            //usuarioInformacion.ListaPerfiles = null;
            //usuarioInformacion.ListaPuntos = null;
            //usuarioInformacion.Password2 = "";
        }
        var usuarioInfo = JSON.parse('@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(usuarioInformacion).Replace("\n",""))');
        var puntoInfo = JSON.parse('@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(PuntoInformacion).Replace("\n", ""))');
    </script>
    @if ((Session["contingencia"] == null ? 0 : (int)Session["contingencia"]) == 0)
    {
        <script src="~/Scripts/SignalRNotificaciones.js"></script>
    }
    @RenderSection("scripts", required: false)
    <script>
        function cerrarSesion() {
            $('#frmLogOut').submit();
        }
    </script>
</body>
</html>
