@model List<CorParques.Negocio.Entidades.SolicitudBoleteria>

<table id="datatable-responsive" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Tipo producto</th>
            <th>Producto</th>
            <th>Fecha</th>
            <th>Cantidad</th> 
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombreTipoProducto</td>
                <td>@item.NombreProducto</td>
                <td>@item.FechaUsoInicial.ToString("yyyy/MM/dd")</td>
                <td>@item.Cantidad</td>
                <td>@item.NombreEstado</td>
            </tr>
        }
    </tbody>
</table>
<script>
    if (typeof SetParametroTabla != 'undefined')
        SetParametroTabla();
</script>

