@model IEnumerable<CorParques.Negocio.Entidades.ReimpresionReciboCajaV>

@{
    ViewBag.Title = "View";
}

@*<div>*@
<table id="example" class="col-md-12 col-sm-12 col-xs-12 display table table-striped table-bordered">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id_Factura)
            </th>*@
            <th>
                Numero de recibo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contingencia)
            </th>
            <th>Reimprimir</th>
        </tr>
   </thead> 
   <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Factura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPunto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuarioCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEstado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoFactura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contingencia)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        <a class="linkDesacarga" data-id=@item.CodigoFactura href="javascript:void(0)">
                            <b class="fa fa-print"></b>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@*</div>*@