@model List<CorParques.Negocio.Entidades.ObtenerFacturaReagendamiento>

<hr />

<div class="row">
    <div class="col-sm-7">
        @if (Model != null && Model.Count > 0)
        {
            <table id="TblFactura" class="display table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center;">
                            Pasaporte / Destreza
                        </th>
                        <th style="text-align:center;">
                            Cantidad
                        </th>
                        <th style="text-align:center;">
                            Usos
                        </th>
                        <th style="text-align:center;">
                            Cantidad reagendamientos
                        </th>
                        <th style="text-align:center;">
                            Estado boletería
                        </th>
                        <th style="text-align:center;">
                            <input style="text-align:center;" type="checkbox" class="ChxReagendarGeneral" id="CheckBoxGeneral" onclick=" ModificacionMasiva(this)" />
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {


                    string codsapBonolluvia = "60000101";
                    string codsapBonolluviaFiesta = "60000102";
                    int IdPBonolluvia = 8726;
                    int IdPBonolluviaFiesta = 8727;



                    <tbody id="put">

                        <tr>
                            <td style="text-align:center;">
                                @item.Nombre
                            </td>

                            <td style="text-align:center;">
                                @item.CantidadPasaportes
                            </td>

                            <td style="text-align:center;">
                                @item.UsosPasaportes/@item.AtraccionesDisponibles
                            </td>

                            <td style="text-align:center;">
                                @item.ReagendamientoPasaportes
                            </td>

                            @if (@item.Id_Estado == 2)
                            {

                                <td style="text-align:center;">
                                    Inactivo
                                </td>
                            }
                            else if (@item.Id_Estado == 3)
                            {

                                <td style="text-align:center;">
                                    Anulado
                                </td>
                            }
                            else if (@item.Id_Estado == 8)
                            {

                                <td style="text-align:center;">
                                    Entregado
                                </td>
                            }
                            else if (@item.Id_Estado == 16)
                            {

                                <td style="text-align:center;">
                                    Bloqueado
                                </td>
                            }
                            else
                            {

                                <td style="text-align:center;">
                                    Activo
                                </td>

                            }




                            @if (@item.ProductoId == IdPBonolluvia && item.CodigoSap == codsapBonolluvia)
                            {

                                <td style="text-align:center;"><input type="checkbox" class="ChxReagendar" value="" id="@item.Consecutivo" name="@item.CodigoSap" onclick="ModificacionEspecifica()" /> </td>

                            }

                            else if (@item.ProductoId == IdPBonolluviaFiesta && item.CodigoSap == codsapBonolluviaFiesta)
                            {

                                <td style="text-align:center;"><input type="checkbox" class="ChxReagendar" value="" id="@item.Consecutivo" name="@item.CodigoSap" onclick="ModificacionEspecifica()" /> </td>

                            }

                            else if (@item.Id_Estado == 1)
                            {

                                <td style="text-align:center;"><input type="checkbox" class="ChxReagendar" value="" id="@item.Consecutivo" name="@item.CodigoSap" onclick="ModificacionEspecifica()" /> </td>
                            }

                            else
                            {
                                <td style="text-align:center;"><input type="checkbox" id="@item.Consecutivo" disabled /> </td>
                            }

                        </tr>

                    </tbody>
                }
            </table>
            <hr />
            <br />
        }
    </div>
    <hr />
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div id="FormuCambioFecha" class="col-sm-5" style="text-align:center;">
                <div class="item form-group">

                    <label class="control-label col-md-6 col-sm-3 col-xs-12">
                        Fecha creación de factura actual :
                    </label>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">

                        @if (@item.Id_Estado != 1)
                        {
                            <input style="text-align:center;" type='text' class="form-control fecha" id="TxtFechaActualR" value="@item.FechaEditada" disabled />

                        }
                        else
                        {

                            <input style="text-align:center;" type='text' class="form-control fecha" id="TxtFechaActualR" value="@item.FechaEditada" disabled />

                        }
                    </div>

                    <label class="control-label col-md-6 col-sm-3 col-xs-12">
                        Fecha nueva :
                    </label>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <div class='input-group date required' id='datetimepickerIni'>
                            <input style="text-align:center;" type='text' class="form-control fecha" id="TxtFechaNuevaR" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <br />
                <div style="text-align:center;">
                    <button id="BtnModificarFR" onclick="ModificarFechaProductosFactura()" class="btn btn-success">Modificar</button>
                    <button id="BtnCancelarR" type="button" onclick="CancelarReagendamiento()" class="btn btn-danger">Cancelar</button>
                </div>

            </div>
            break;
        }
    }

    <div id="TblEspecificaciones" class="col-sm-7">
        @if (Model != null && Model.Count > 0)
        {
            <table class="display table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center;">
                            Pasaporte / Destreza
                        </th>
                        <th style="text-align:center;">
                            Consecutivo
                        </th>
                        <th style="text-align:center;">
                            FechaUsoInicial
                        </th>
                        <th style="text-align:center;">
                            FechaUsoFinal
                        </th>
                        <th style="text-align:center;">
                            FechaInicioEvento
                        </th>
                        <th style="text-align:center;">
                            FechaFinEvento
                        </th>
                    </tr>

                </thead>
                @foreach (var item in Model)
                {
                    <tbody id="put">
                        <tr>
                            @if (@item.Consecutivo == null)
                            {
                                <td style="text-align:center;">
                                    @item.Nombre
                                </td>
                                <td style="text-align:center;">
                                    @item.Consecutivo
                                </td>
                                <td style="text-align:center;">
                                </td>
                                <td style="text-align:center;">
                                </td>
                                <td style="text-align:center;">
                                </td>
                                <td style="text-align:center;">
                                </td>
                            }
                            else
                            {
                                <td style="text-align:center;">
                                    @item.Nombre
                                </td>
                                <td style="text-align:center;">
                                    @item.Consecutivo
                                </td>
                                <td style="text-align:center;">
                                    @item.FechaUsoInicial
                                </td>
                                <td style="text-align:center;">
                                    @item.FechaUsoFinal
                                </td>
                                <td style="text-align:center;">
                                    @item.FechaInicioEvento
                                </td>
                                <td style="text-align:center;">
                                    @item.FechaFinEvento
                                </td>
                            }
                        </tr>
                    </tbody>
                }
            </table>
        }
    </div>
</div>