@model IEnumerable<CorParques.Negocio.Entidades.DashBoard>

@{int intContador = 0; }
@{string[] strColores = ("blue|green|purple|aero|red|yellow|fucsia|dark|dark_orange|green_spring").Split('|'); }
@{double TotalDinero = 0; }
@{int TotalCantidad = 0; }
@{double TotalPorcentaje = 0;}
@{double TotalDineroPremios = 0; }
@{double CalculoPorcentaje = 0;}

<div class="left_col" role="main" style="background-color:#fff!important;">
    <div class="row tile_count">
        <div class="col-personali-corp col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Suma de los indicadores: &#13;Boletería&#13;AyB&#13;Mundo Natural&#13;Souvenir&#13;Parqueadero&#13;Servicios&#13;Ventas Suscripciones Cliente FAN"><i class="fa fa-money"></i> Total Ventas</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 1).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 1).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 1).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 1).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 1).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 1).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>
        <div  class="col-personali-corp col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Total de visitantes registrados en el parque"><i class="fa fa-group"></i> Total Visitantes</span>
            <div class="count">
                @Model.Where(x => x.Numero == 2).Select(x => x.Total).FirstOrDefault()
            </div>
            <span class="count_bottom">
                PPTO: @Model.Where(x => x.Numero == 2).Select(x => x.Planeado).FirstOrDefault()<br />
                @if (Model.Where(x => x.Numero == 2).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @Model.Where(x => x.Numero == 2).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault() <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 2).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 2).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>

        <!-- -->

        <div  class="col-personali-corp col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Pedidos institucionales (eventos) con fecha de uso dentro del rango seleccionado. &#13;&#13; No se incluyen pedidos de fiestas.">
                <i class="fa fa-institution"></i> Institucional
            </span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 4).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 4).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 4).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 4).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 4).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 4).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>


        <!-- el nuevo agregar ---->
        <div  class="col-personali-corp col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Pedidos, redenciones y aprovechamientos tipo fecha abierta. &#13;&#13 con fecha dentro del rango seleccionado">
                <i class="fa fa-hospital-o"></i> Fecha Abierta
            </span>

            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 38).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 38).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 38).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 38).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 38).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 38).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>

        </div>





        <!-- fin del nuevo agregar ---->

        <div  class="col-personali-corp col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Ventas de todos los productos tipo boleta. por ejemplo:&#13;&#13;Pasaportes&#13;Fila express&#13;Cupos debido&#13;Usos atracciones &#13;Entre otros"><i class="fa fa-ticket"></i> Boletería</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 5).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 5).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 5).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 5).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 5).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 5).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>



        <div   class="col-personali-corp col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Todas las ventas de productos de AyB a excepción &#13;de los facturados en los puntos de venta de mundo natural."><i class="fa fa-cutlery"></i> AyB</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 6).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 6).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 6).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 6).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 6).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 6).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>
        <div  class="col-personali-corp col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Todas las ventas de productos de AyB a excepción &#13;de los facturados en los puntos de venta de mundo natural."><i class="fa fa-cutlery"></i> Arazá</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 66).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 66).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 66).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 66).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 66).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 66).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph x_panel">
                <div class="x_content">
                    <div class="x_title">
                        <h2>Ventas Por Hora<small></small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="demo-container" style="height:250px">
                        @*<div id="chart_plot_03" class="demo-placeholder"></div>*@
                        <canvas id="ventas_por_hora"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Todos los productos facturados en los puntos de mundo natural &#13;a excepcion de boleteria y parqueadero"><i class="fa fa-paw"></i> Mundo Natural</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 13).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 13).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 13).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 13).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 13).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 13).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Todos los productos facturados de tipo souvenir a excepción &#13;de los facturados en los puntos de mundo natural"><i class="fa fa-picture-o"></i> Souvenir</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 16).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 16).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 16).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 16).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 16).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 16).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Todos los productos facturados de tipo parqueadero"><i class="fa fa-automobile"></i> Parqueadero</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 17).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 17).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 17).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 17).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 17).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 17).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Todos los productos facturados de tipo servicios a excepción &#13;de los facturados en los puntos de mundo natural"><i class="fa fa-shopping-basket"></i> Servicios</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 18).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 18).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 18).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 18).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 18).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 18).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Registro de usos de boletas en los puntos de destrezas"><i class="fa fa-puzzle-piece"></i> Destrezas</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 24).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 24).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 24).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 24).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 24).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 24).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" title="Todos los ingresos dados por un evento que haya sido catalogado como fiesta &#13;y que su fecha de uso esté dentro del rango seleccionado"><i class="fa fa-birthday-cake"></i> Fiestas</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 14).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 14).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 14).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 14).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 14).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 14).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>

    </div>

    <div class="row tile_count">
        <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top" title="Ventas de afiliaciones como nuevos suscriptores de cliente Fan"><i class="fa fa-newspaper-o"></i> Ventas Suscripciones Cliente FAN</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 22).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 22).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 22).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 22).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 22).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 22).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top" title="productos vendidos a travez de la tarjeta cliente fan."><i class="fa fa-check-square-o"></i> Ventas Registradas Por Clientes FAN</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 23).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 23).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 23).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 23).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 23).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 23).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top" title="Total de ventas / total de visitantes registrados"><i class="fa fa-user"></i> Ventas/Visitante</span>
            <div class="count">
                @string.Format("{0:C0}", Model.Where(x => x.Numero == 3).Select(x => x.Total).FirstOrDefault())
            </div>
            <span class="count_bottom">
                PPTO: @string.Format("{0:C0}", Model.Where(x => x.Numero == 3).Select(x => x.Planeado).FirstOrDefault()) <br />
                @if (Model.Where(x => x.Numero == 3).Select(x => x.MostrarPresupuestoPorCumplir).FirstOrDefault())
                {
                    <span class="font_small">
                        PPTO x C: @string.Format("{0:C0}", Model.Where(x => x.Numero == 3).Select(x => x.PresupuestoPorCumplirCalculo).FirstOrDefault()) <br />
                    </span>
                }
                <i class="@Model.Where(x => x.Numero == 3).Select(x => x.Semaforo).FirstOrDefault().ToString()">
                    @Model.Where(x => x.Numero == 3).Select(x => x.Porcentaje).FirstOrDefault().ToString()%
                </i>
            </span>
        </div>



    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Boletería Más Vendida Top 10<small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="text-align:center;">
                        <canvas id="boleteria_mas_vendida" class="canvasDoughnut" height="180" width="180" style="margin: 20px 20px 20px 0"></canvas>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Boletería</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Total
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Cantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            %
                        </div>
                    </div>

                    @{TotalDinero = Model.Where(x => x.Numero.Equals(8)).Sum(x => x.Total); }
                    @{TotalCantidad = Model.Where(x => x.Numero.Equals(8)).Sum(x => x.Cantidad); }
                    @{TotalPorcentaje = 0;}
                    @foreach (CorParques.Negocio.Entidades.DashBoard objItem in Model.Where(x => x.Numero.Equals(8)).ToList())
                    {
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <p><i class="fa fa-square @strColores[intContador]"></i> @objItem.Producto </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @string.Format("{0:C0}", objItem.Total)
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @objItem.Cantidad
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @string.Format("{0:0.00}", ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad))
                                <div style="display:none;">
                                    @(TotalPorcentaje = (TotalPorcentaje + ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad)))
                                </div>
                            </div>
                        </div>

                        intContador += 1;
                    }

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Total</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @string.Format("{0:C0}", @TotalDinero)
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @TotalCantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            @TotalPorcentaje
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Boletería Menos Vendida Top 10<small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="text-align:center;">
                        <canvas id="boleteria_menos_vendida" class="canvasDoughnut" height="180" width="180" style="margin: 20px 20px 20px 0"></canvas>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Boletería</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Total
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Cantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            %
                        </div>
                    </div>

                    @{TotalDinero = Model.Where(x => x.Numero.Equals(9)).Sum(x => x.Total); }
                    @{TotalCantidad = Model.Where(x => x.Numero.Equals(9)).Sum(x => x.Cantidad); }
                    @{TotalPorcentaje = 0;}
                    @{intContador = 0;}
                    @foreach (CorParques.Negocio.Entidades.DashBoard objItem in Model.Where(x => x.Numero.Equals(9)).ToList())
                    {
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <p><i class="fa fa-square @strColores[intContador]"></i> @objItem.Producto </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @string.Format("{0:C0}", objItem.Total)
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @objItem.Cantidad
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @string.Format("{0:0.00}", ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad))
                                <div style="display:none;">
                                    @(TotalPorcentaje = (TotalPorcentaje + ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad)))
                                </div>
                            </div>
                        </div>

                        intContador += 1;
                    }

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Total</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @string.Format("{0:C0}", @TotalDinero)
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @TotalCantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            @TotalPorcentaje
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Pasaportes Por Uso Más Vendidos Top 5<small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="text-align:center;">
                        <canvas id="pasaporte_mas_vendidos" class="canvasDoughnut" height="180" width="180" style="margin: 20px 20px 20px 0"></canvas>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Pasaporte</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Total
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Cantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            %
                        </div>
                    </div>

                    @{TotalDinero = Model.Where(x => x.Numero.Equals(25)).Sum(x => x.Total); }
                    @{TotalCantidad = Model.Where(x => x.Numero.Equals(25)).Sum(x => x.Cantidad); }
                    @{TotalPorcentaje = 0;}
                    @{intContador = 0;}
                    @foreach (CorParques.Negocio.Entidades.DashBoard objItem in Model.Where(x => x.Numero.Equals(25)).ToList())
                    {
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <p><i class="fa fa-square @strColores[intContador]"></i> @objItem.Producto </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @string.Format("{0:C0}", objItem.Total)
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @objItem.Cantidad
                            </div>
                            @if (objItem.Total > 0)
                            {
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    @string.Format("{0:0.00}", ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad))
                                    <div style="display:none;">
                                        @(TotalPorcentaje = (TotalPorcentaje + ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad)))
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    0
                                </div>
                            }

                        </div>

                        intContador += 1;
                    }

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Total</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @string.Format("{0:C0}", @TotalDinero)
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @TotalCantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            @TotalPorcentaje
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Total Destrezas Usos<small></small></h2>
                    <div class="clearfix"></div>
                </div>
                @*<div class="x_content">
                        <canvas id="destrezas_todos"></canvas>
                    </div>*@

                <div class="x_content">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Destreza</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Total Recaudado
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Total Premios
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            %
                        </div>
                    </div>

                    @{TotalDinero = Model.Where(x => x.Numero.Equals(15)).Sum(x => x.Total); }
                    @{TotalDineroPremios = Model.Where(x => x.Numero.Equals(15)).Sum(x => x.Planeado); }
                    @{TotalPorcentaje = 0;}
                    @{CalculoPorcentaje = 0;}

                    @foreach (CorParques.Negocio.Entidades.DashBoard objItem in Model.Where(x => x.Numero.Equals(15)).OrderByDescending(x => x.Total).ToList())
                    {
                        CalculoPorcentaje = 0;
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <p>@objItem.Producto </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @string.Format("{0:C0}", objItem.Total)
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @string.Format("{0:C0}", objItem.Planeado)
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @if (objItem.Total > 0)
                                {
                                    CalculoPorcentaje = ((objItem.Planeado * 100) / objItem.Total);
                                    //TotalPorcentaje = TotalPorcentaje + CalculoPorcentaje;
                                }
                                @string.Format("{0:0.00}", CalculoPorcentaje)
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Total</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @string.Format("{0:C0}", @TotalDinero)
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @string.Format("{0:C0}", TotalDineroPremios)
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            @string.Format("{0:0.00}", ((TotalDineroPremios * 100) / TotalDinero))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>AyB Top 10 Más Vendidos<small></small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="text-align:center;">
                        <canvas id="ayb_mas_vendidos" class="canvasDoughnut" height="180" width="180" style="margin: 20px 20px 20px 0"></canvas>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Producto</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Total
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Cantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            %
                        </div>
                    </div>

                    @{TotalDinero = Model.Where(x => x.Numero.Equals(10)).Sum(x => x.Total); }
                    @{TotalCantidad = Model.Where(x => x.Numero.Equals(10)).Sum(x => x.Cantidad); }
                    @{TotalPorcentaje = 0;}
                    @{intContador = 0;}
                    @foreach (CorParques.Negocio.Entidades.DashBoard objItem in Model.Where(x => x.Numero.Equals(10)).ToList())
                    {
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <p><i class="fa fa-square @strColores[intContador]"></i> @objItem.Producto </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @string.Format("{0:C0}", objItem.Total)
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @objItem.Cantidad
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @string.Format("{0:0.00}", ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad))
                                <div style="display:none;">
                                    @(TotalPorcentaje = (TotalPorcentaje + ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad)))
                                </div>
                            </div>
                        </div>

                        intContador += 1;
                    }

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Total</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @string.Format("{0:C0}", @TotalDinero)
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @TotalCantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            @TotalPorcentaje
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Puntos AyB Top 10 Más Vendidos<small></small></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="row" style="text-align:center;">
                        <canvas id="puntos_ayb_todos" class="canvasDoughnut" height="180" width="180" style="margin: 20px 20px 20px 0"></canvas>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Punto</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Total
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Cantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            %
                        </div>
                    </div>

                    @{TotalDinero = Model.Where(x => x.Numero.Equals(11)).Sum(x => x.Total); }
                    @{TotalCantidad = Model.Where(x => x.Numero.Equals(11)).Sum(x => x.Cantidad); }
                    @{TotalPorcentaje = 0;}
                    @{intContador = 0;}
                    @foreach (CorParques.Negocio.Entidades.DashBoard objItem in Model.Where(x => x.Numero.Equals(11)).ToList())
                    {
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <p><i class="fa fa-square @strColores[intContador]"></i> @objItem.Producto </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @string.Format("{0:C0}", objItem.Total)
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @objItem.Cantidad
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @string.Format("{0:0.00}", ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad))
                                <div style="display:none;">
                                    @(TotalPorcentaje = (TotalPorcentaje + ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad)))
                                </div>
                            </div>
                        </div>

                        intContador += 1;
                    }

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Total</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @string.Format("{0:C0}", @TotalDinero)
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @TotalCantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            @TotalPorcentaje
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Usos Atracciones Por Brazalete Top 10<small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="text-align:center;">
                        <canvas id="atracciones_por_brazalete" class="canvasDoughnut" height="180" width="180" style="margin: 20px 20px 20px 0"></canvas>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-4 col-xs-4 font_bold">
                            <p>Atracción</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Cantidad
                        </div>
                    </div>

                    @{TotalCantidad = Model.Where(x => x.Numero.Equals(20)).Sum(x => x.Cantidad); }
                    @{TotalPorcentaje = 0;}
                    @{intContador = 0;}
                    @foreach (CorParques.Negocio.Entidades.DashBoard objItem in Model.Where(x => x.Numero.Equals(20)).ToList())
                    {
                        <div class="row">
                            <div class="col-md-5 col-sm-4 col-xs-4">
                                <p><i class="fa fa-square @strColores[intContador]"></i> @objItem.Producto </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @objItem.Cantidad
                            </div>
                        </div>

                        intContador += 1;
                    }

                    <div class="row">
                        <div class="col-md-5 col-sm-4 col-xs-4 font_bold">
                            <p>Total</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @TotalCantidad
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Usos Atracciones Por Boletería Top 10<small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="text-align:center;">
                        <canvas id="atracciones_por_boleteria" class="canvasDoughnut" height="180" width="180" style="margin: 20px 20px 20px 0"></canvas>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-4 col-xs-4 font_bold">
                            <p>Atracción</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Cantidad
                        </div>
                    </div>

                    @{TotalCantidad = Model.Where(x => x.Numero.Equals(21)).Sum(x => x.Cantidad); }
                    @{TotalPorcentaje = 0;}
                    @{intContador = 0;}
                    @foreach (CorParques.Negocio.Entidades.DashBoard objItem in Model.Where(x => x.Numero.Equals(21)).ToList())
                    {
                        <div class="row">
                            <div class="col-md-5 col-sm-4 col-xs-4">
                                <p><i class="fa fa-square @strColores[intContador]"></i> @objItem.Producto </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @objItem.Cantidad
                            </div>
                        </div>

                        intContador += 1;
                    }

                    <div class="row">
                        <div class="col-md-5 col-sm-4 col-xs-4 font_bold">
                            <p>Total</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @TotalCantidad
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Mundo Natural Ventas Por Producto Top 5 <small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="text-align:center;">
                        <canvas id="mundo_natural_12" class="canvasDoughnut" height="180" width="180" style="margin: 20px 20px 20px 0"></canvas>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Producto</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Total
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Cantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            %
                        </div>
                    </div>

                    @{TotalDinero = Model.Where(x => x.Numero.Equals(12)).Sum(x => x.Total); }
                    @{TotalCantidad = Model.Where(x => x.Numero.Equals(12)).Sum(x => x.Cantidad); }
                    @{TotalPorcentaje = 0;}
                    @{intContador = 0;}
                    @foreach (CorParques.Negocio.Entidades.DashBoard objItem in Model.Where(x => x.Numero.Equals(12)).ToList())
                    {
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <p><i class="fa fa-square @strColores[intContador]"></i> @objItem.Producto </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @string.Format("{0:C0}", objItem.Total)
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @objItem.Cantidad
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @string.Format("{0:0.00}", ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad))
                                <div style="display:none;">
                                    @(TotalPorcentaje = (TotalPorcentaje + ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad)))
                                </div>
                            </div>
                        </div>

                        intContador += 1;
                    }

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Total</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @string.Format("{0:C0}", @TotalDinero)
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @TotalCantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            @TotalPorcentaje
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Arazá Top 10 Más Vendidos<small></small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="text-align:center;">
                        <canvas id="araza_mas_vendidos" class="canvasDoughnut" height="180" width="180" style="margin: 20px 20px 20px 0"></canvas>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Producto</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Total
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            Cantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            %
                        </div>
                    </div>

                    @{TotalDinero = Model.Where(x => x.Numero.Equals(26)).Sum(x => x.Total); }
                    @{TotalCantidad = Model.Where(x => x.Numero.Equals(26)).Sum(x => x.Cantidad); }
                    @{TotalPorcentaje = 0;}
                    @{intContador = 0;}
                    @foreach (CorParques.Negocio.Entidades.DashBoard objItem in Model.Where(x => x.Numero.Equals(26)).ToList())
                    {
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <p><i class="fa fa-square @strColores[intContador]"></i> @objItem.Producto </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @string.Format("{0:C0}", objItem.Total)
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @objItem.Cantidad
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @string.Format("{0:0.00}", ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad))
                                <div style="display:none;">
                                    @(TotalPorcentaje = (TotalPorcentaje + ((objItem.Total * TotalCantidad / TotalDinero) * 100 / TotalCantidad)))
                                </div>
                            </div>
                        </div>

                        intContador += 1;
                    }

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 font_bold">
                            <p>Total</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @string.Format("{0:C0}", @TotalDinero)
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 font_bold">
                            @TotalCantidad
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            @TotalPorcentaje
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    @if (ViewBag.Bitacora != null)
    {
        <input type="hidden" id="hdf_Bitacora" value="S" />
    }
    else
    {
        <input type="hidden" id="hdf_Bitacora" value="N" />
    }
    <input type="hidden" id="hdf_TieneObservaciones" value="@ViewBag.TieneObservaciones" />
</div>

@if (ViewBag.Bitacora != null)
{
    <div class="modal fade" id="myModalBitacora" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><b>Bitácora Día</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            <p>Segmento</p>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            <p>Clima</p>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 font_bold">
                            Observaciones
                        </div>
                    </div>
                    @foreach (CorParques.Negocio.Entidades.BitacoraDia objItem in ViewBag.Bitacora)
                    {
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <p> @objItem.SegmentoDia</p>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <p> @objItem.Clima</p>
                            </div>
                            <div class="col-md-8 col-sm-5 col-xs-5">
                                <textarea class="form-control" readonly rows="4"> @objItem.Observacion </textarea> <br />
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <input type="button" class="right btn btn-success" value="Cerrar" onclick="CerrarBitacora();" />
                </div>
            </div>
        </div>
    </div>
}

<script>
    var VentasHora = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Where(x=>x.Numero.Equals(7)).Select(x => new { Total = x.Total, Hora = int.Parse(x.Producto) }).OrderBy(x => x.Hora).ToArray()));
    var Valores8 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Where(x=>x.Numero.Equals(8)).Select(x => new { Cantidad = x.Cantidad, Producto = x.Producto, Total = x.Total }).ToArray()));
    var Valores9 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Where(x=>x.Numero.Equals(9)).Select(x => new { Cantidad = x.Cantidad, Producto = x.Producto }).ToArray()));
    var Valores10 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Where(x=>x.Numero.Equals(10)).Select(x => new { Cantidad = x.Cantidad, Producto = x.Producto, Total = x.Total }).ToArray()));
    var Valores11 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Where(x=>x.Numero.Equals(11)).Select(x => new { Cantidad = x.Cantidad, Producto = x.Producto, Total = x.Total }).ToArray()));
    @*//var Valores12 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Where(x=>x.Numero.Equals(12)).Select(x => new { Cantidad = x.Total, Producto = x.Producto }).ToArray()));*@
    var Valores12 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Where(x=>x.Numero.Equals(12)).Select(x => new { Cantidad = x.Cantidad, Producto = x.Producto, Total = x.Total }).ToArray()));
    @*var Valores15 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Where(x=>x.Numero.Equals(15)).Select(x => new { Cantidad = x.Total, Producto = x.Producto }).OrderByDescending(x => x.Cantidad).ToArray()));*@
    var Valores20 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Where(x=>x.Numero.Equals(20)).Select(x => new { Cantidad = x.Cantidad, Producto = x.Producto }).ToArray()));
    var Valores21 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Where(x=>x.Numero.Equals(21)).Select(x => new { Cantidad = x.Cantidad, Producto = x.Producto }).ToArray()));
    var Valores25 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Where(x=>x.Numero.Equals(25)).Select(x => new { Cantidad = x.Cantidad, Producto = x.Producto, Total = x.Total }).ToArray()));
    var Valores26 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Where(x=>x.Numero.Equals(26)).Select(x => new { Cantidad = x.Cantidad, Producto = x.Producto, Total = x.Total }).ToArray()));
</script>
